:root {
  --primary: #90331C;
  --white: #ffffff;
  --Secondary:  #ffded3 ;
}


.custom-bg{
  background-color:  #FFF3EA;

}

.cusburgericon{
    top: 27px !important;
  }
  
  a.acuspad{
    padding: 0px 17px !important;
  }

  span.acuspad{
    margin-top: 3px;
    padding: 15px 41px  !important;
    cursor: pointer;
  }


  .header .main-menu li a:hover {
    color: var(--primary) !important;
}

.btn.btn-default:hover {
    background-color: var(--primary) !important; 
}

.header .main-menu li ul {

    min-width: 215px;
}


.banner-hero.banner-2 {
  background-color:#f2f4f7;
  
}

.bg-green-900 { 
  background-color:  var(--Secondary) !important; 
  color: white;
}

.btn.btn-black {

  background-color:  var(--primary);
}


#scrollUp {
  background-color: var(--primary);
}
.footer .menu-footer li a:hover {
  color: #90331C;
  transition-duration: 0.2s;
  padding-left: 3px;
}

.btn.btn-black.icon-arrow-right-white:hover {
  background-color: #F2F4F7;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjU0NTggMy4xNDM4NEw3Ljg1NjI1IDAuNDU0MzQ1QzcuNjQ1MjEgMC4yNDMzOTkgNy4zNTkwMSAwLjEyNDkzIDcuMDYwNjEgMC4xMjVDNi43NjIyMiAwLjEyNTA3IDYuNDc2MDcgMC4yNDM2NzQgNi4yNjUxMyAwLjQ1NDcyQzYuMDU0MTggMC42NjU3NjYgNS45MzU3MSAwLjk1MTk2NiA1LjkzNTc4IDEuMjUwMzZDNS45MzU4NSAxLjU0ODc1IDYuMDU0NDYgMS44MzQ5IDYuMjY1NSAyLjA0NTg0TDguMDk0NzUgMy44NzUwOUgxLjVDMS4yMDE2MyAzLjg3NTA5IDAuOTE1NDg0IDMuOTkzNjIgMC43MDQ1MDUgNC4yMDQ2QzAuNDkzNTI3IDQuNDE1NTggMC4zNzUgNC43MDE3MyAwLjM3NSA1LjAwMDA5QzAuMzc1IDUuMjk4NDYgMC40OTM1MjcgNS41ODQ2MSAwLjcwNDUwNSA1Ljc5NTU5QzAuOTE1NDg0IDYuMDA2NTcgMS4yMDE2MyA2LjEyNTA5IDEuNSA2LjEyNTA5SDguMDk0NzVMNi4yNjU1IDcuOTU0MzRDNi4wNTQ0NiA4LjE2NTI5IDUuOTM1ODUgOC40NTE0MyA1LjkzNTc4IDguNzQ5ODNDNS45MzU3MSA5LjA0ODIyIDYuMDU0MTggOS4zMzQ0MiA2LjI2NTEzIDkuNTQ1NDdDNi40NzYwNyA5Ljc1NjUxIDYuNzYyMjIgOS44NzUxMiA3LjA2MDYxIDkuODc1MTlDNy4zNTkwMSA5Ljg3NTI2IDcuNjQ1MjEgOS43NTY3OSA3Ljg1NjI1IDkuNTQ1ODRMMTAuNTQ1OCA2Ljg1NjM0QzExLjAzNzIgNi4zNjM1NyAxMS4zMTMxIDUuNjk2MDMgMTEuMzEzMSA1LjAwMDA5QzExLjMxMzEgNC4zMDQxNiAxMS4wMzcyIDMuNjM2NjIgMTAuNTQ1OCAzLjE0Mzg0VjMuMTQzODRaIiBmaWxsPSIjMTAxODI4Ii8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  color: #90331c;
  transform: translateY(-2px);
  transition: 0.2s;
}
.footer .menu-footer li a:hover {
  color: #90331C;
  transition-duration: 0.2s;
  padding-left: 3px;
}

.btn.btn-black.icon-arrow-right-white:hover {
  background-color: #F2F4F7;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjU0NTggMy4xNDM4NEw3Ljg1NjI1IDAuNDU0MzQ1QzcuNjQ1MjEgMC4yNDMzOTkgNy4zNTkwMSAwLjEyNDkzIDcuMDYwNjEgMC4xMjVDNi43NjIyMiAwLjEyNTA3IDYuNDc2MDcgMC4yNDM2NzQgNi4yNjUxMyAwLjQ1NDcyQzYuMDU0MTggMC42NjU3NjYgNS45MzU3MSAwLjk1MTk2NiA1LjkzNTc4IDEuMjUwMzZDNS45MzU4NSAxLjU0ODc1IDYuMDU0NDYgMS44MzQ5IDYuMjY1NSAyLjA0NTg0TDguMDk0NzUgMy44NzUwOUgxLjVDMS4yMDE2MyAzLjg3NTA5IDAuOTE1NDg0IDMuOTkzNjIgMC43MDQ1MDUgNC4yMDQ2QzAuNDkzNTI3IDQuNDE1NTggMC4zNzUgNC43MDE3MyAwLjM3NSA1LjAwMDA5QzAuMzc1IDUuMjk4NDYgMC40OTM1MjcgNS41ODQ2MSAwLjcwNDUwNSA1Ljc5NTU5QzAuOTE1NDg0IDYuMDA2NTcgMS4yMDE2MyA2LjEyNTA5IDEuNSA2LjEyNTA5SDguMDk0NzVMNi4yNjU1IDcuOTU0MzRDNi4wNTQ0NiA4LjE2NTI5IDUuOTM1ODUgOC40NTE0MyA1LjkzNTc4IDguNzQ5ODNDNS45MzU3MSA5LjA0ODIyIDYuMDU0MTggOS4zMzQ0MiA2LjI2NTEzIDkuNTQ1NDdDNi40NzYwNyA5Ljc1NjUxIDYuNzYyMjIgOS44NzUxMiA3LjA2MDYxIDkuODc1MTlDNy4zNTkwMSA5Ljg3NTI2IDcuNjQ1MjEgOS43NTY3OSA3Ljg1NjI1IDkuNTQ1ODRMMTAuNTQ1OCA2Ljg1NjM0QzExLjAzNzIgNi4zNjM1NyAxMS4zMTMxIDUuNjk2MDMgMTEuMzEzMSA1LjAwMDA5QzExLjMxMzEgNC4zMDQxNiAxMS4wMzcyIDMuNjM2NjIgMTAuNTQ1OCAzLjE0Mzg0VjMuMTQzODRaIiBmaWxsPSIjMTAxODI4Ii8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  color: #90331c;
  transform: translateY(-2px);
  transition: 0.2s;
}

.tag-1 {
  background-color:  var(--Secondary) !important; 
  color:  #A81C07 ;
}

.color-green-900 {
  color: var(--Secondary) !important; 
}

.text-body-quote {
  font-family: "Noto Sans",sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.card-grid-style-2.card-square {
  border-radius: 0px;
  padding: 30px;
  
}

.second-stick{
  -webkit-animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 5%);
  position: fixed;
  top: 77px;
  width: 100%;
  z-index: 9999999;
  left: 0;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid #F2F4F7;
  background: #fff;
 
}

.bg-light {
  font-size: 15px;
  justify-content: center;
  padding: 20px;
}

.bg-light a {
  padding:30px;
  color: black;

}

.list-icons-2>li {
  width: 50%;
  float: left;
  padding-right: 64px;
  padding-left: 50px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMzMiIHZpZXdCb3g9IjAgMCAzMyAzMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTYuNSIgY3k9IjE2LjUiIHI9IjE2LjUiIGZpbGw9IiMwMDZENzciLz4KPHBhdGggZD0iTTE0Ljg4NCAxOS41NzhWMTguMzAyQzE0Ljg4NCAxNy44MTggMTUuMDA4NyAxNy40MDczIDE1LjI1OCAxNy4wN0MxNS41MDczIDE2LjczMjcgMTUuODk2IDE2LjMxNDcgMTYuNDI0IDE1LjgxNkMxNi45NTIgMTUuMzMyIDE3LjM0OCAxNC44OTkzIDE3LjYxMiAxNC41MThDMTcuODkwNyAxNC4xMzY3IDE4LjAzIDEzLjY4MiAxOC4wMyAxMy4xNTRDMTguMDMgMTIuNTY3MyAxNy44NjEzIDEyLjA5OCAxNy41MjQgMTEuNzQ2QzE3LjIwMTMgMTEuMzc5MyAxNi43MSAxMS4xOTYgMTYuMDUgMTEuMTk2QzE1LjI3MjcgMTEuMTk2IDE0LjczIDExLjQxNiAxNC40MjIgMTEuODU2QzE0LjEyODcgMTIuMjk2IDEzLjk4MiAxMi43OTQ3IDEzLjk4MiAxMy4zNTJMMTQuMDA0IDE0LjA1NkgxMC45MDJDMTAuODU4IDEzLjY2IDEwLjgzNiAxMy4zODg3IDEwLjgzNiAxMy4yNDJDMTAuODM2IDEyLjQ3OTMgMTEuMDQ4NyAxMS43NDYgMTEuNDc0IDExLjA0MkMxMS45MTQgMTAuMzM4IDEyLjUzIDkuNzczMzMgMTMuMzIyIDkuMzQ4QzE0LjExNCA4LjkwOCAxNS4wMTYgOC42ODggMTYuMDI4IDguNjg4SDE2LjUxMkMxNy41Mzg3IDguNjg4IDE4LjQyNiA4Ljg5MzMzIDE5LjE3NCA5LjMwNEMxOS45MjIgOS43MTQ2NyAyMC40ODY3IDEwLjI2NDcgMjAuODY4IDEwLjk1NEMyMS4yNjQgMTEuNjQzMyAyMS40NjIgMTIuMzkxMyAyMS40NjIgMTMuMTk4QzIxLjQ2MiAxMy44NzI3IDIxLjM0NDcgMTQuNDU5MyAyMS4xMSAxNC45NThDMjAuODkgMTUuNDU2NyAyMC42MjYgMTUuODY3MyAyMC4zMTggMTYuMTlDMjAuMDEgMTYuNDk4IDE5LjYxNCAxNi44NDI3IDE5LjEzIDE3LjIyNEMxOC42OSAxNy41OTA3IDE4LjM2NzMgMTcuODg0IDE4LjE2MiAxOC4xMDRDMTcuOTcxMyAxOC4zMjQgMTcuODc2IDE4LjU4MDcgMTcuODc2IDE4Ljg3NFYxOS41NzhIMTQuODg0Wk0xNC43NTIgMjAuNzY2SDE3Ljk4NlYyNEgxNC43NTJWMjAuNzY2WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==) no-repeat 0px 0px;
  margin-bottom: 20px;
  padding-top: 6px;
}

.color-green-900 {
  color: #000000 !important;
}




