
.breasdcrumb{
    margin-top: 30px;  
}


.para1

{
    text-align: center;
    font-size: 18px;  
    text-align: start;
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin: 20px;
}


.para2{
    
    font-size: 18px;  
    text-align: start;
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin: 20px;
   

}

.para3{
   
    font-size: 18px;  
    text-align: start;
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin-top: 0px;
    margin: 20px;
}

.para4{
    text-align: center;
    font-size: 18px;  
    text-align: start;
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin-top: -158px;
    
    margin: 20px;
}

.para5{
    text-align: center;
    font-size: 18px;  
    text-align: start;
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin-top: 0px;
    margin: 20px;
}

.para6{
    text-align: center;
    font-size: 18px;  
    text-align: start;
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin: 20px;
    margin-bottom: 0px;
}

.para7{
    text-align: center;
    font-size: 18px;  
    text-align: start;
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin-top: 0px;
    margin: 20px;
}

.para8{
    text-align: center;
    font-size: 18px;  
    text-align: start;
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin: 20px;
    margin-bottom: 0px;
}


.para9{
    text-align: center;
    font-size: 18px;  
    text-align: start;
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin-top: 0px;
    margin: 20px;
}

.para10{
    text-align: center;
    font-size: 18px;  
    text-align: start;
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin-top: 0px;
    margin: 20px;
    margin-bottom: 100px;
}




    .headings{
       
        font-size: 36;
        text-align: center;
        line-height: 40px;
        font-family: Segoe UI;
        color:black;
        font-weight: 600;
        font-style: normal;
        margin-top: 30px;
    }
    
    .containers{
        background-color:white;
        border-radius: 20px;

        position:relative;
        box-shadow: 0px 3px 3px black;
        overflow: hidden;
    }
    
    .shadow{
        background-color:white;
        border-radius: 20px;
   
      
       height: 550px;
     
        position:relative;
        box-shadow: 3px 3px 3px  rgb(205, 202, 211);
        overflow: hidden;
    }
  

    .headerimg{
        height: 250px;
        width: 800px;
    }

    .backgroundimg{
        height: 800px;
        width: 100%;
    }





    .maginheading{
        margin-bottom:50px ;
    }


    .headingsheader{
        font-size: 36;
        text-align: start;
        line-height: 40px;
        font-family: Segoe UI;
        color:rgb(242, 227, 227);
        font-weight: 600;
        font-style: normal;
       
    }
    
 .paraheader{
    
    font-size: 36px;
    text-align: start;
    line-height: 30px;
    font-family: Segoe UI; 
    color:white;
    font-weight: 600;
    font-style: normal;
   margin-top: 13%;
 }

 .logo{
    height: 350px;
    width: 400px;
 }



 /* media querie */


 @media screen and (min-width: 100px) {

    .buttonres1 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres5 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres6 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres7 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres8      {
        margin-left: 130px;
        margin-bottom: 20px;
    }
    .buttonres9     {
        margin-left: 130px;
        margin-bottom: 20px;
    }
    .buttonres10     {
        margin-left: 130px;
        margin-bottom: 20px;
    }
    
}



 @media screen and (min-width: 300px) {


.paraheader{
    
       font-size: 16px;
       text-align: center;
       line-height: 30px;
       font-family: Segoe UI; 
       color:white;
       font-weight: 600;
       font-style: normal;
       margin-top: 15%;
   }


    .buttonres1 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres5 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres6 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres7 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    .buttonres8      {
        margin-left: 130px;
        margin-bottom: 20px;
    }
    
}



       
@media screen and (min-width: 350px) {

    .backgroundimg{
        height: 50%;
        width: 100%;
    }

    
    .box{
        width: 400px;
        height: 300px;
        margin-top: 0px;
        
    }
    
    .headingsheader{
        font-size: 10;
        text-align: center;
        line-height: 20px;
        font-family: Segoe UI;
        color:rgb(242, 227, 227);
        font-weight: 500;
        font-style: normal;
        margin-top: 20%;
    
    }
    
       }




@media screen and (min-width: 600px) {

    .buttonres1 {
        margin-left: 250px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 90px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 170px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 150px;
        margin-bottom: 20px;
    }

    .buttonres5 {
        margin-left: 250px;
        margin-bottom: 20px;
    }

    .buttonres6 {
        margin-left: 90px;
        margin-bottom: 20px;
    }

    .buttonres7 {
        margin-left: 150px;
        margin-bottom: 20px;
    }

    .buttonres8      {
        margin-left: 80px;
        margin-bottom: 20px;
    }
    .buttonres9     {
        margin-left: 150px;
        margin-bottom: 20px;
    }

    .buttonres10     {
        margin-left: 150px;
        margin-bottom: 20px;
    }
}



@media screen and (min-width: 600px) {

    .box{
        width:600px;
        height: 300px;
        margin-bottom: 0px;
        margin-top: 30px;
        margin-left: 50px;
        
    }
    
    }





    @media screen and (min-width: 698px) {

        .margintop1{
            margin-top: 50px;
        }
        
        
        .margintop2{
            margin-top: 50px;
        }
        
        
        .margintop3{
            margin-top: 50px;
        }
        
        
        .margintop4{
            margin-top: 40px;
        }
        
        
        .margintop5{
            margin-top: 40px;
        }
        
        
        .margintop6{
            margin-top: 40px;
        }
        
        
        .margintop7{
            margin-top: 60px;
        }
        
        
        .margintop8{
            margin-top: 50px;
        }
        
        .margintop9{
            margin-top: 50px;
        }
        
        .headingsheader{
            margin-top: 50px;
        
           
           }
        
            }







@media screen and (min-width: 900px) {

    .buttonres1 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 230px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres5 {
        margin-left: 250px;
        margin-bottom: 20px;
    }

    .buttonres6 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres7 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres8      {
        margin-left: 230px;
        margin-bottom: 20px;
    }
    
     
}




@media screen and (min-width: 1200px) {

.buttonres1 {
    margin-left: 340px;
    margin-bottom: 20px;
}

.buttonres2 {
    margin-left: 180px;
    margin-bottom: 20px;
}

.buttonres3 {
    margin-left: 250px;
    margin-bottom: 20px;
}

.buttonres4 {
    margin-left: 350px;
    margin-bottom: 20px;
}

.buttonres5 {
    margin-left: 350px;
    margin-bottom: 20px;
}

.buttonres6 {
    margin-left: 160px;
    margin-bottom: 20px;
}

.buttonres7 {
    margin-left: 230px;
    margin-bottom: 20px;
}

.buttonres8      {
    margin-left: 130px;
    margin-bottom: 20px;
}

.buttonres9      {
    margin-left: 250px;
    margin-bottom: 20px;
}


.buttonres10     {
    margin-left: 250px;
    margin-bottom: 20px;
}
 


}




   
   @media screen and (max-width: 500px) {
    .box{
        display:none;
    }
   }
  


       
   @media screen and (min-width: 990px) {

    .paraheader{
        
        font-size: 18px;
       text-align: start;
        line-height: 30px;
        font-family: Segoe UI; 
        color:white;
        font-weight: 600;
        font-style: normal;
        margin-top: 15%;
     
    
    }
    
       }
    

               

   @media screen and (min-width: 1200px) {

    .paraheader{
        
        font-size: 18px;
        text-align: start;
        line-height: 30px;
        font-family: Segoe UI; 
        color:white;
        font-weight: 600;
        font-style: normal;
        margin-top: 15%;
     
    
    }
    
       }
    
    

    

       @media screen and (min-width: 690px) {

        .box{
            width: 400px;
            height: 400px;
            margin-top: 10px;
            
        }
        
           }

           



           
       @media screen and (min-width: 990px) {

        .box{
            width: 950px;
            height: 600px;
            margin-top: 10px;
           
        }
        
           }

           
 

    
           
    @media screen and (min-width: 990px) {

        .headingsheader{
            font-size: 10;
            text-align: start;
            line-height: 40px;
            font-family: Segoe UI;
            color:rgb(242, 227, 227);
            font-weight: 500;
            font-style: normal;
           margin-top: 27%;
        }
        
           }


  /* Module images */

 .img1{
    margin-top: 10px;
    margin-bottom: 10px;
}


.img2{
    margin-top: 10px;
    margin-bottom: 0px;
}



.img3{
    margin-top: 0px;
    margin-bottom: 0px;
}



.img4{
    margin-top: 10px;
    margin-bottom: 5px;
}



.img5{
    margin-top: 10px;
    margin-bottom: 10px;
}



.img6{
    margin-top: 10px;
    margin-bottom: 10px;
}



.img7{
    margin-top: 10px;
    margin-bottom: 10px;
}




.img8{
    margin-top: 15px;
    margin-bottom: 10px;
}



.img9{
    margin-top: 10px;
    margin-bottom: 0px;
}
