.boxhead {
  width: 100%;
  height: 1020px;
  display: flex;
  padding: 0px;
  background-color: #90331c;
}
.childhead {
  height: 600px;
  color: black;
  background-color: white;
  padding-left: 0;
  text-align: center;
  border-radius: 9px;
  margin-top: 50px;
}
.box1 {
  width: 75%;
  margin-left: 10%;
  text-align: center;
  margin-top: 5%;
}
.p1 {
  text-align: center;

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #000000;
}

.boxhead1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 56px;
  /* or 124% */

  color: #ffffff;
  width: 75%;
  text-align: center;
  margin-left: 13%;
  margin-top: 4%;
}
.parahead1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 35px;
  /* or 107% */

  color: #ffffff;

  width: 70%;
  text-align: justify;
  margin-left: 15%;
}

@media screen and (max-width: 1199px) {
  .boxhead {
    width: 100%;
    height: 1020px;
    display: flex;
    padding: 0px;
    background-color: #90331c;
  }
  .childhead {
    height: 600px;
    color: black;
    background-color: white;
    padding-left: 0;
    text-align: center;
    border-radius: 9px;
    margin-top: 50px;
  }
  .box1 {
    width: 75%;
    margin-left: 10%;
    text-align: center;
    margin-top: 5%;
  }
  .p1 {
    text-align: center;

    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #000000;
    /* text-align: start;  */
  }

  .boxhead1 {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 56px;
    /* or 124% */

    color: #ffffff;
    width: 75%;
    text-align: center;
    margin-left: 13%;
    margin-top: 4%;
  }
  .parahead1 {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    /* or 107% */

    color: #ffffff;

    width: 70%;
    text-align: justify;
    margin-left: 15%;
  }
}

@media screen and (max-width: 991px) {
  .boxhead {
    width: 100%;
    height: 1020px;
    display: flex;
    padding: 0px;
    background-color: #90331c;
  }
  .childhead {
    height: 600px;
    color: black;
    background-color: white;
    padding-left: 0;
    text-align: center;
    border-radius: 9px;
    margin-top: 50px;
  }
  .box1 {
    width: 75%;
    margin-left: 10%;
    text-align: center;
    margin-top: 5%;
  }
  .p1 {
    text-align: center;

    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: #000000;
  }

  .boxhead1 {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 56px;
    /* or 124% */

    color: #ffffff;
    width: 75%;
    text-align: center;
    margin-left: 13%;
    margin-top: 4%;
  }
  .parahead1 {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    width: 70%;
    text-align: justify;
    margin-left: 15%;
  }
}
