.heading1 {
  text-align: start;
  font-size: 24px;
  line-height: 54px;
  font-family: "Inter";
  font-weight: 800;
  width: 489px;
  font-style: normal;
  position: relative;
  left: 10%;
  color: #18191f;
}

.cardheading {
  text-align: start;
  font-size: 20px;
  line-height: 98%;
  font-family: "Inter";
  font-weight: 800;
  font-style: normal;
  color: #612178;
}
.cardheading2 {
  text-align: start;
  font-size: 20px;
  line-height: 98%;
  font-family: "Inter";
  font-weight: 800;
  font-style: normal;
  color: #a6840f;
}

.cardheading3 {
  text-align: start;
  font-size: 20px;
  line-height: 98%;
  font-family: "Inter";
  font-weight: 800;
  font-style: normal;
  color: #216510;
}

.cardpara {
  font-family: "Inter";
  font-size: 18px;
  line-height: 32px;
  color: #000000;

  text-decoration: none solid rgb(0, 0, 0);
  width: 100%;
  text-align: start;
  font-weight: 500;
}

.profile img {
  width: 82px;
  height: 79px;
  position: relative;

  right: 31%;
}

.para2 {
  font-family: "Inter";
  font-size: 18px;
  line-height: 32px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  position: relative;
  left: 10%;
  top: 1%;
  -webkit-text-decoration: none solid rgb(0, 0, 0);
  text-decoration: none solid rgb(0, 0, 0);
  width: 100%;
  text-align: start;
}

@media (max-width: 1025px) {
  .profile img {
    width: 82px;
    height: 79px;
    position: relative;

    right: 22%;
  }
}

@media screen and (max-width: 1399px) {
  .cardpara {
    font-family: "Inter";
    font-size: 14px !important;
    line-height: 24px !important;
    color: #000000;

    text-decoration: none solid rgb(0, 0, 0);
    width: 100%;
    text-align: start;
    font-weight: 500;
  }
}

@media screen and (max-width: 1200px) {
  .cardpara {
    font-family: "Inter";
    font-size: 12px !important;
    line-height: 19px !important;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
    width: 100%;
    text-align: start;
  }

  .cardheading {
    text-align: start;
    font-size: 16px !important;
    line-height: 98% !important;
    font-family: "Inter";
    font-weight: 800;
    font-style: normal;
    color: #612178;
  }
  .cardheading2 {
    text-align: start;
    font-size: 16px !important;
    line-height: 98% !important;
    font-family: "Inter";
    font-weight: 800;
    font-style: normal;
    color: #a6840f;
  }

  .cardheading3 {
    text-align: start;
    font-size: 16px !important;
    line-height: 98% !important;
    font-family: "Inter";
    font-weight: 800;
    font-style: normal;
    color: #216510;
  }
}
