

.container{
 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 195px;

  }


  .container .box{
    width: calc(24% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow:
    rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
    transform:
    perspective(800px)
    rotateY(-16deg);
  transition: transform 1s ease 0s;
  
  }

  
  .container .box11{
    width: calc(24% - -42px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow:
    rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
    rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
    transform:
    perspective(800px)
    rotateY(-16deg);
  transition: transform 1s ease 0s;
  
  }
 

  .box11 p{
    text-align: center;
    margin-top: 8px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: Be Vietnam Pro;
    color: white;
  }
  .box11 .name{
    margin: 10px 0 6px 0;
    color: white;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    font-family: Be Vietnam Pro;
    text-align: center;
  }

  .box p{
    text-align: center;
    margin-top: 8px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: Be Vietnam Pro;
    color: white;
  }
  .box .name{
    margin: 10px 0 6px 0;
    color: white;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    font-family: Be Vietnam Pro;
    text-align: center;
  }

 
 
  @media (max-width:1045px){
    .container .box{
      width: calc(38% - 10px);
      margin-bottom: 20px;
    }
  }
  @media (max-width:710px){
    .container .box{
      width: 100%;
    }
  }
   