.heading1{
    text-align:start;
    font-size: 70px;
    line-height: 84%;
    font-family: Acme;
    font-weight: 400;
    font-style: normal;
    position: relative;
    top: 5%;
    margin-top: 9%;
    color: rgb(30, 32, 32);
  margin-bottom: 85px;

  }

 
  
  .cardheading{
    text-align: center;
    font-size: 24px;
    line-height: 98%;
    font-family: Acme;
    font-weight: 700;
    font-style: normal;
    position: relative;
    top: -13%;
  
  
  }
  
  
  
  
  .cardpara {
   
  
    font-family: 'Inter';
    font-size: 19px;
    line-height: 28px;
    color: rgb(75 71 71);
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
    width: 100%;
    text-align:center;
   
  
  }
  
  
  
  .profile img {
    width: 121px;
    height: 121px;
    position: relative;
    border-radius: 50%;
    top: -45px;
    margin-bottom: 40px;
    }
  
  
  
  .para1 {
   
  
    font-family: Segoe UI;
    font-size: 26px;
    margin-left: 2%;
    line-height: 131%;
    color: #6D6A6A;
    font-weight: 700;
    text-decoration: none solid rgb(0, 0, 0);
    width: 100%;
    text-align:start;
    position: relative;
    /* top: 14px; */
   
  
  }
  
  
  
  .para2 {
   
  
    font-family: Segoe UI;
    font-size: 21px;
    margin-left: 2%;
    line-height: 161%;
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
    width: 100%;
    text-align:start;
   
  
  }
  
  
  
  .mypar{
    background-image: url("/assets/imgs/page/homepage4/bg11.png");
    background-repeat: no-repeat;
    background-position: -247% 169px;
  }
  
  
  
  
  .buttonstart {
    margin: auto;
    text-align: start;
  }
  
  .button {
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
    font-family: Segoe UI;
    background-color: #0099FF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 155px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 20px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border: 0!important;
    border-width: 0!important;
    height: 50%!important;
    margin-bottom: 3rem!important;
    padding: 1rem!important;
    border-radius: 0.25rem!important;
  }
  
  
  
  
  
  
  
   
   
    @media (max-width:1045px){
      .container .box{
        width: calc(38% - 10px);
        margin-bottom: 20px;
      }
    }
    @media (max-width:710px){
      .container .box{
        width: 100%;
      }
    }
  
  