.imgg1 {
    width: 200px;
    height: 200px;
    margin: 100px auto;
    text-align: center;
    margin: 0 auto;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;

}



.imgg1:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

.parents {
    display: flex;
    justify-content: space-evenly;
}



/* .cardcontainer {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  .card {
    width: 300px;
    height: 200px;
    background-color: #00000000;
    margin-right: 20px;
    animation: slide 10s linear infinite;
  }

  */