.parahead {
   
 
    font-family:Segoe UI;
    font-size: 18px;
    line-height: 23px;
    color:black;
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
    width: 50%;
    margin-top: 30px;
    text-align: center;
 

  
  }

  .center {
   border-radius: 10px;
   height:500px;
   margin-top: 30px;
  
  
  }

  .vecimg {
    border-radius: 10px;
    height:500px;
    margin-bottom: 50px;
    margin-top: 50px;
   
   }

   .vecimg2 {
    border-radius: 10px;
    height:600px;
    margin-bottom: 50px;
   
   
   }


  .paracon {
   
 
    font-family:Segoe UI;
    font-size: 18px;
    line-height: 23px;
    color:black;
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
    width: 80%;
    margin-top: 100px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
  
  
  }

  .para {
   
    margin-top: 250px;
    font-family:Segoe UI;
    font-size: 18px;
    line-height: 23px;
    color:black;
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
    
  
  
  }
  
  .headings{
   text-align: center;
   font-size: 56px;
   line-height: 56px;
   font-family: Segoe UI;
   font-weight: 600;
   font-style: normal;
   margin-top: 50px;
   
   
  }
  
  .subhead {
   font-weight:bold;
   font-size: 25px;
   line-height: 40px;
   color: #90331c;
  }
  
  .subhead2 {
   font-weight:bold;
   font-size: 25px;
   line-height: 40px;
   color: #90331c;
  }
  
  .headings2{
  text-align: center;
   font-size: 36px;
   line-height: 56px;
   font-family: Segoe UI;
   font-weight: 600;
   font-style: normal;
  

   
  }

  .headings1{
    text-align: center;
     font-size: 36px;
     line-height: 56px;
     font-family: Segoe UI;
     font-weight: 600;
     font-style: normal;
     margin-top: 50px;
  
     
    }
  
  .paracenter {
  
  text-align: center;
  font-family:Segoe UI;
  font-size: 18px;
  line-height: 23px;
  color:black;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
  
  
  }
  
  .headings3{
  font-weight:bold;
  font-size: 40px;
  line-height: 30px;
  color: #90331c;
  text-align: center;
  }
  
  
  .para2 {
  margin-top: 20px;
  width: 100%;
  font-family:Segoe UI;
  font-size: 18px;
  line-height: 23px;
  color:black;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: center;
  
  
  }


.bc  {

    padding: 10px;
}


.modimg{
  border-radius: 500px;
   height: 250px;
}

@media screen and (max-width: 576px) {

  .banner{
    height:"200px"
  }

  .parahead {
   
 
    font-family:Segoe UI;
    font-size: 18px;
    line-height: 23px;
    color:black;
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
    width: 100%;
    margin-top: 10px;
    text-align: center;
 

  
  }

  .center {
    border-radius: 10px;
    height:300px
   }


   .modimg{
    border-radius: 500px;
     height: 150px;
     margin-top: 50px;
  }

  .headings{
    text-align: center;
    font-size: 56px;
    line-height: 56px;
    font-family: Segoe UI;
    font-weight: 600;
    font-style: normal;
    margin-top: 100px;
    
    
   }

   .headings1{
    text-align: center;
     font-size: 36px;
     line-height: 56px;
     font-family: Segoe UI;
     font-weight: 600;
     font-style: normal;
     margin: 0px;

  
     
    }

    .para {
   
      margin-top: 70px;
      font-family:Segoe UI;
      font-size: 18px;
      line-height: 23px;
      color:black;
      font-weight: 400;
      text-decoration: none solid rgb(0, 0, 0);
      
    
    
    }

    .vecimg {
      border-radius: 10px;
      height:400px;
      margin-bottom: 50px;
   
    
     
     }

     .paracon {
   
 
      font-family:Segoe UI;
      font-size: 18px;
      line-height: 23px;
      color:black;
      font-weight: 400;
      text-decoration: none solid rgb(0, 0, 0);
      width: 80%;
      text-align: center;
      margin: auto;
      margin-top: 10px;
    
    
    }
    .vecimg2 {
      border-radius: 10px;
      height:500px;
      margin-bottom: 30px;
     
     
     }

}


@media screen and (min-width: 576px){
  .modimg{
    border-radius: 500px;
     height: 200px;
     margin-top: 50px;
  }

  .para {
   
    margin-top: 80px;
    font-family:Segoe UI;
    font-size: 18px;
    line-height: 23px;
    color:black;
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
    
  
  
  }
}


@media screen and (min-width: 992px){


  .para {
   
    margin-top: 250px;
    font-family:Segoe UI;
    font-size: 18px;
    line-height: 23px;
    color:black;
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
    
  
  
  }
}
  

  
  
  
  
  