.body {
    background-image: url("/assets/imgs/page/homepage4/webhooks.jpg");
    background-size: cover;
    border-radius: 5px;
    height: 90vh;


}


.parahead {
    font-family: Segoe UI;
    font-size: 46px;
    line-height: 46px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none solid rgb(0, 0, 0);
    width: 70%;
    text-align: center;


}

.paraheadcontainer {
    margin: auto;
    text-align: center;
    margin-top: 50%;
    position: relative;
}

.bodycontainer {
    margin: auto;
    width: 90%;




}

.msggif {
    margin: auto;
    width: 90%;
    height: 100px;


}


.formcontainer {
    margin-top: 26%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(180%) blur(10px);
    padding: 30px 30px;
    border-radius: 5px;



}


@media screen and (max-width: 1000px) {

    .bodycontainer {
        display: none;
    }




}


@media screen and (min-width: 1000px) {

    .mobile {
        display: none;
    }


    .bodycontainer {
        display: block;
    }

}


