.allcontent{
  background: linear-gradient(to bottom,#FFFFFF,#FFFFFF,#FFFFFF, #a2e2de, #FFFFFF);
  
}

.heading1{
    text-align: center;
    font-size: 44px;
    line-height: 138%;
    font-family: Segoe UI;
    font-weight: 700;
    font-style: normal;
    color: #150D48;
    margin-top: 30px;
  


}
.smallheading{
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  font-family: Segoe UI;
  
}



.para1 {
   
 
    font-family:Segoe UI;
    font-size: 25px;
    line-height: 26px;
    color:rgb(39, 38, 38);
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    position:relative;
    top: 8%;
 
}



.container{
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 138px;
}
.container .box{
  /* width: calc(17% - 10px); */
  width: calc(21% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.container .box .image{
  margin: 10px 0;
  height: 88px;
  width: 91px;
  padding: 3px;
  border-radius: 50%;
}
.box .image img{
  height: 100%;
  width: 100%;
  /* border-radius: 50%; */
  object-fit: cover;

}
.box p{
  text-align: center;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  font-family: Segoe UI;
}
.box .name{
  margin: 10px 0 3px 0;
  color: #212121;
  font-size: 21px;
  font-weight: 700;
  font-family: Segoe UI;
  text-align: center;
}



@media (max-width:1045px){
  .container .box{
    width: calc(38% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;
  }
}

@media (max-width:1200px){
.allcontent{
  background: linear-gradient(to bottom,#FFFFFF, #c8edeb,#FFFFFF );
}
}