.allcontent{
  background: linear-gradient(to bottom,#FFFFFF,#FFFFFF,#FFFFFF, #a2e2de, #FFFFFF);
  
}

.heading1{
    text-align: center;
    font-size: 44px;
    line-height: 138%;
    font-family: Segoe UI;
    font-weight: 700;
    font-style: normal;
    color: #150D48;
    margin-top: 100px;
  


}
.smallheading{
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  font-family: Segoe UI;
  
}



.para1 {
   
 
    font-family:Segoe UI;
    font-size: 25px;
    line-height: 30px;
    color:rgb(39, 38, 38);
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    position:relative;
    top: 8%;
 
}



.container{
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: initial;
  padding: 20px;
  margin-top: 138px;
  margin-bottom: 45px;
}
.container .box{
 
  width: calc(23% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 42px 27px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.container .box .image{
  margin: 10px 0;
  height: 127px;
    width: 146px;

  /* padding: 3px;
  border-radius: 50%;  */
}
.box .image img{
  height: 100%;
  width: 100%;
  /* border-radius: 50%; */
  object-fit: cover;

}
.box p{
  text-align: center;
  margin-top: 57px;
  line-height: 155%;
  font-size: 20px;
  font-weight: 400;
  font-family: Inter;
}
.box .name{
  margin: 10px 0 3px 0;
  color: #333333; 
  font-size: 32px;
  line-height: 33px;
  font-weight: 700;
  font-family: Inter;
  text-align: center;
}

@media (max-width:1278px){
  .box .name{
    margin: 6px 0 -22px 0;
    color: #333333;
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    font-family: 'Inter';
    text-align: center;
  }

  .box p{
  text-align: center;
    margin-top: 57px;
    line-height: 136%;
    font-size: 17px;
    font-weight: 400;
    font-family: Inter;
}
}



@media (max-width:1045px){
  .container .box{
    width: calc(38% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;
  }
}

@media (max-width:1200px){
.allcontent{
  background: linear-gradient(to bottom,#FFFFFF, #c8edeb,#FFFFFF );
}
}