.headings {

    margin-top: 5%;
    font-size: 76px;
    width: 100%;
    text-align: center;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
    font-weight: 600;
    font-style: normal;
}

.para {
    font-family: Segoe UI;
    text-align: center;
    margin-top: 0px;
    font-size: 18px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none solid rgb(0, 0, 0);
}



/* style for the odd container side heading */

.subhead {
    font-family: Segoe UI;
    text-align: right;
    margin-right: 30px;
    margin-top: 30%;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #591605;
}

.subhead11 {
    font-family: Segoe UI;
    text-align: right;
    margin-right: 40px;
    margin-top: 30%;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #591605;
}

.subhead2 {
    font-family: Segoe UI;
    text-align: start;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #181818e0;
}




/* style for the even container side heading */

.subhead8 {
    font-family: Segoe UI;
    text-align: left;
    margin-right: 10px;
    margin-top: 30%;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #591605;
}

.subhead9 {
    font-family: Segoe UI;
    text-align: start;
    margin-right: 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #181818e0;
}


/* style for the main module container */

.para5 {
    font-family: Segoe UI;
    text-align: center;
    margin-top: 90px;
    font-size: 48px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none solid rgb(0, 0, 0);
}




@media screen and (max-width: 768px) {

    .headings {

        margin-top: 5%;
        font-size: 76px;
        width: 100%;
        text-align: center;
        font-family: Segoe UI;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px #000000;
        font-weight: 600;
        font-style: normal;
    }
    
    .para {
        font-family: Segoe UI;
        text-align: center;
        margin-top: 0px;
        font-size: 18px;
        line-height: 20px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }
    
    
    
    /* style for the odd container side heading */
    
    .subhead {
        font-family: Segoe UI;
        text-align: right;
        margin-right: 40px;
        margin-top: 50%;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        color: #591605;
    }
    
    .subhead11 {
        font-family: Segoe UI;
        text-align: right;
        margin-right: 40px;
        margin-top: 30%;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        color: #591605;
    }
    
    .subhead2 {
        font-family: Segoe UI;
        text-align: start;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }
    
    
    
    
    /* style for the even container side heading */
    
    .subhead8 {
        font-family: Segoe UI;
        text-align: left;
        margin-right: 10px;
        margin-top: 250px;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        color: #591605;
    }
    
    .subhead9 {
        font-family: Segoe UI;
        text-align: start;
        margin-right: 20px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }
    
    
    /* style for the main module container */
    
    .para5 {
        font-family: Segoe UI;
        text-align: center;
        margin-top: 90px;
        font-size: 48px;
        line-height: 20px;
        color: rgb(0, 0, 0);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }
    

}




@media screen and (max-width: 991px) {

    .headings {

        margin-top: 5%;
        font-size: 56px;
        width: 100%;
        text-align: center;
        font-family: Segoe UI;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px #000000;
        font-weight: 600;
        font-style: normal;
    }
    
    .para {
        font-family: Segoe UI;
        text-align: center;
        margin-top: 0px;
        font-size: 18px;
        line-height: 20px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }
    
    
    
    /* style for the odd container side heading */
    
    .subhead {
        font-family: Segoe UI;
        text-align: right;
        margin-right: 40px;
        margin-top: 15%;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        color: #591605;
    }
    
    .subhead11 {
        font-family: Segoe UI;
        text-align: right;
        margin-right: 40px;
        margin-top: 20%;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        color: #591605;
    }
    
    .subhead2 {
        font-family: Segoe UI;
        text-align: start;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }
    
    
    
    
    /* style for the even container side heading */
    
    .subhead8 {
        font-family: Segoe UI;
        text-align: left;
        margin-right: 10px;
        margin-top: 20%;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        color: #591605;
    }
    
    .subhead9 {
        font-family: Segoe UI;
        text-align: start;
        margin-right: 20px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }
    
    
    /* style for the main module container */
    
    .para5 {
        font-family: Segoe UI;
        text-align: center;
        margin-top: 9%;
        font-size: 34px;
        line-height: 20px;
        color: rgb(0, 0, 0);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }
    

}




@media screen and (max-width: 576px) {

    .headings {

        margin-top: 5%;
        font-size: 36px;
        width: 100%;
        text-align: center;
        font-family: Segoe UI;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 4px #000000;
        font-weight: 600;
        font-style: normal;
    }
    
    .para {
        font-family: Segoe UI;
        text-align: center;
        margin-top: 0px;
        font-size: 18px;
        line-height: 20px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }
    
    
    
    /* style for the odd container side heading */
    
    .subhead {
        font-family: Segoe UI;
        text-align: right;
        margin-right: 40px;
        margin-top: 5%;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
        color: #591605;
    }
    
    .subhead11 {
        font-family: Segoe UI;
        text-align: start;
        margin-left: 20px;
        margin-top: 5%;
        font-weight: bold;
        font-size: 22px;
        line-height: 40px;
        color: #591605;
    }
    
    .subhead2 {
        font-family: Segoe UI;
        text-align: start;
       
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }
    
    
    
    
    /* style for the even container side heading */
    
    .subhead8 {
        font-family: Segoe UI;
        text-align: start;
        margin-right: 10px;
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
        color: #591605;
    }
    
    .subhead9 {
        font-family: Segoe UI;
        text-align: start;
        margin-right: 20px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }
    
    
    /* style for the main module container */
    
    .para5 {
        font-family: Segoe UI;
        text-align: center;
        margin-top: 40px;
        font-size: 22px;
        line-height: 20px;
        color: rgb(0, 0, 0);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }
    

}


 