.headee1{
    color: green;
    font-family: Segoe UI;
    margin-left: -39%;
}

.omggg{
    width: 159px;
    margin-left: -53%;
}

.headee2{
    color: #B750D0;
    font-family: Segoe UI;
    margin-left: -39%;
}

.omggg2{
    width: 159px;
    margin-left: -53%;
}

.headee3{
    color: #417BEE;
    font-family: Segoe UI;
    margin-left: -39%;
}


.headee4{
    color: #F7AC17;
    font-family: Segoe UI;
    margin-left: -39%;
}



@media screen and (max-width:1200px) {

    .headee1{
        color: green;
        font-family: Segoe UI;
        margin-left: -65%;
    } 
    .headee2{
        color: #B750D0;
        font-family: Segoe UI;
        margin-left: -65%;
    }
    .headee3{
        color: #417BEE;
        font-family: Segoe UI;
        margin-left: -65%;
    }
    .headee4{
        color: #F7AC17;
        font-family: Segoe UI;
        margin-left: -65%;
    }
}    

