.sidebar {
  display: block;
}

@media screen and (min-width: 1199px) {
  .sidebar {
    display: none;
  }
}



/* CSS */

.head {
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 1272px;
  position: fixed;
  z-index: 10;
  /* height: 88px; */
  left: 50%;
  transform: translateX(-50%);
  top: 17px;
  box-shadow: 4px 1px 21px 15px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
}


.button86 {
  background: #0099FF;
  border: 1px solid #0099FF;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  min-height: 40px;
  width: 125%;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button86:hover,
.button86:active {
  background-color: initial;
  background-position: 0 0;
  color: #037ddf;
}

.button86:active {
  opacity: .5;
}

@media screen and (max-width: 1198px) {
  .mobera {
    display: none;
  }
}

