
.breasdcrumb{
    margin-top: 30px;
   
}

.backgroundimg1{
    height: 500px;
}


.para1

{
    font-size: 18px;
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin-top: 0px;
    text-align: justify;
}


.para

{
    font-size: 16px;
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin-top: 50px;
    text-align: justify;
}



.boxheading{

    margin-top: 0px;
    margin-right: 50px;
    font-size: 36;
    text-align: center;
    line-height: 40px;
    font-family: Segoe UI;
    color:black;
    font-weight: 600;
    font-style: normal;
    margin-top: 60px;

}

    
    

.shadow{
    background-color:white; 
    box-shadow: 2px 1px 2px  rgb(205, 202, 211);
    overflow: hidden;
    }


.headings{
       
        font-size: 36;
        text-align: center;
        line-height: 40px;
        font-family: Segoe UI;
        color:black;
        font-weight: 600;
        font-style: normal;
        margin-top: 30px;
}


.headingsdashboard{
       
    font-size: 36;
    text-align: center;
    line-height: 40px;
    font-family: Segoe UI;
    color:black;
    font-weight: 600;
    font-style: normal;
  
}



.margintop1{
    margin-top: 250px;
}



.para7{
    font-size: 18px;
   
   
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    
}




/* media queries */
    

@media screen and (min-width: 300px) {

    .margintop{
        margin-top: 100px;
    
      
    }
    .margintop1{
        margin-top: 0px;
    }
    
    
    .margintop2{
        margin-top: 280px;
    }

  


    .para1{
        text-align: justify;
         font-size: 18px;
         margin:30px;
       
        line-height: 30px;
        font-family: Segoe UI; 
        color:rgb(0, 0, 0);
        font-weight: 0;
        font-style: normal;
        margin-top: 0px;
    }


    .margintop1{
        margin-top: 50px;
    }
    
    
    .margintop2{
        margin-top: 10px;
    }
    
    
    .margintop3{
        margin-top: 10px;
    }
    
    
    .margintop4{
        margin-top: 10px;
    }


    .headings{
        margin-left:0px;
        font-size: 36px;
        text-align: center;
        line-height: 20px;
        font-family: Segoe UI;
        color:black;
        font-weight: 600;
        font-style: normal;
        margin-top: 40px;
    
    }
    

    .margintop1{
        margin-top: 100px;
    }
    
    
    .margintop2{
        margin-top: 10px;
    }
    
    
    .margintop3{
        margin-top: 10px;
    }
    
    
    .margintop4{
        margin-top: 10px;
    }

}


@media screen and (min-width: 350px) {
    
    .buttonres1 {
        margin-left: 0px;
        margin-bottom: 20px;
        
    }

    .buttonres2 {
        margin-left: 100px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 100px;
        
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 100px;
        margin-bottom: 20px;
    }

    
    .buttonres5 {
        margin-left: 100px;
        margin-bottom: 20px;
    }


    
    .buttonres6{
        margin-left: 100px;
        margin-bottom: 20px;
    }


   
    .buttonres7{
        margin-left: 100px;
        margin-bottom: 20px;
    }

    .headingsheader{
        font-size: 10;
        text-align: center;
        line-height: 20px;
        font-family: Segoe UI;
        color: rgb(134, 32, 18);
        font-weight: 500;
        font-style: normal;
        margin-top: 10%;
    
    }

    .box{
        width: 250px;
        height: 250px;
        margin-top: 0px;
        
    }
    .margintop{
        margin-top: 200px;
    
      
    }

}
    

     
@media screen and (min-width: 600px) {
        
    .margintop{
        margin-top: 250px;
      }

    .margintop2{
        margin-top: 50px;
    }
    
    .para1{ 
        margin: 10px;
        text-align: justify;
        
    }

    .buttonres1 {
        margin-left: 80px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 180px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    
    .buttonres5 {
        margin-left: 200px;
        margin-bottom: 20px;
    }


    
    .buttonres6{
        margin-left: 200px;
        margin-bottom: 20px;
    }


   
    .buttonres7{
        margin-left: 200px;
        margin-bottom: 20px;
    }


    .paraheader{
        
        font-size: 18px;
        text-align: justify;
        line-height: 30px;
        font-family: Segoe UI; 
        color:rgb(0, 0, 0);
        font-weight: 600;
        font-style: normal;
        margin-top: 7%;
     
    
    }
    
}
    



@media screen and (max-width: 600px) {

    .headings{
        font-size: 16;
        text-align: center;
        line-height: 1opx;
        font-family: Segoe UI;
        color:bl;
        font-weight: 450;
        font-style: normal;
        margin-top: 20px;
        margin-left: 0px;
        margin: 30px;
     
    }
    
    .para1{ 

       margin: 10px;
       font-size: 16px; 
       text-align: justify;
    }


    .paraheader{
       text-align: justify;
       font-size: 16px;
    }

    .headingsheader{
        text-align: center;
        margin-top:10% ;
  
        font-size: 42px;
       
        line-height: 40px;
        font-family: Segoe UI;
        color: white;
        font-weight: 500;
        font-style: normal;
        margin-top: 10%;
        border: solid 2px;
    }


    .headings{
        font-size: 28px;
    }

    .button{
        display: none;
    }

    .box{
        margin-left: 0%;
        height: 0%;
    } 

   
}




@media screen and (min-width: 690px) {
        
    .box{
        width: 400px;
        height: 400px;
  
    }
    
}


 
@media screen and (min-width: 768px) {

    .buttonres1 {
        margin-left: 100px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 80px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 80px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 80px;
        margin-bottom: 20px;
    }

    
    .buttonres5 {
        margin-left: 80px;
        margin-bottom: 20px;
    }


    
    .buttonres6{
        margin-left: 80px;
        margin-bottom: 20px;
    }


   
    .buttonres7{
        margin-left: 80px;
        margin-bottom: 20px;
    }

    .margintop2{
        margin-top:50px;
    }

}

       

                  
@media screen and (max-width: 770px) {
    
    .paraheader{
        text-align: justify;
    }
        
    .headingsheader{
        text-align: center;
        margin-top:10% ;
    }
    
    .button{
        margin-left: 80%;
    }
    
    .box{
        margin-left: 0%;
        height: 0%;
        
    }
    
    .button{
        display: none;
    }
    
    .backgroundimg1{
        height: 500px;
    }
    
}
    
    

@media screen and (min-width: 800px) {
        
    .margintop{
        margin-top: 250px;
     }
            
}
            


@media screen and (min-width: 900px) {

    .paraheader{
        
        font-size:18px;
        text-align: justify;
        line-height: 30px;
        font-family: Segoe UI; 
        color:rgb(0, 0, 0);
        font-weight: 600;
        font-style: normal;
        margin-top: 7%;
     
    
    }
    
}
     

@media screen and (min-width: 991px) {

    .margintop1{
        margin-top: 50px;
    }
    .margintop2{
        margin-top: 50px;
    }

    .box{
        width: 40px;
        height: 200px;
        margin-top: 0px;
       
    }

    .buttonres1 {
        margin-left: 300px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 12 0px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 80px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 100px;
        margin-bottom: 20px;
    }

    
    .buttonres5 {
        margin-left: 80px;
        margin-bottom: 20px;
    }


    
    .buttonres6{
        margin-left: 100px;
        margin-bottom: 20px;
    }


   
    .buttonres7{
        margin-left: 100px;
        margin-bottom: 20px;
    }

    .box{
        width: 450px;
        height: 600px;
        margin-top: 0px;
       
    }
    
    .headingsheader{
        font-size: 10;
        text-align: center;
        line-height: 40px;
        font-family: Segoe UI;
        color: white;
        font-weight: 500;
        font-style: normal;
       margin-top: 0%;
    }
             

    
    .img1{
        margin-top: 70px;
        margin-bottom: 70px;
        height:50vh;
        box-shadow: 1px 3px 3px ;
      
    }
    
    
    .img2{
        margin-top: 0px;
        margin-bottom: 100px;
        box-shadow: 1px 3px 3px ;
        
    }
    
    
    
    .img3{
        margin-top: 0px;
        margin-bottom: 100px;
        box-shadow: 1px 3px 3px ;
    }
    
    
    
    .img4{
        margin-top: 0px;
        margin-bottom: 100px;
        box-shadow: 1px 3px 3px ;
    }
    
    
    
    .img5{
        margin-top: 0px;
        margin-bottom: 100px;
        box-shadow: 1px 3px 3px ;
    }
    
    
    
    .img6{
        margin-top: 20px;
        margin-bottom: 100px;
        box-shadow: 1px 3px 3px ;
        width:120%;
    }
    
    
    
    .img7{
        margin-top: 10px;
        margin-bottom: 20px;
        box-shadow: 1px 3px 3px ;
    }
    
    
}
    
    
    


  
@media screen and (min-width: 1200px) {
    
    .buttonres1 {
        margin-left: 300px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 250px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 170px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 180px;
        margin-bottom: 20px;
    }

    
    .buttonres5 {
        margin-left: 180px;
        margin-bottom: 20px;
    }


    .buttonres6{
        margin-left: 220px;
        margin-bottom: 20px;
    }


    .buttonres7{
        margin-left: 170px;
        margin-bottom: 20px;
    }


    .paraheader{
                
        font-size: 18px;
        text-align: justify;
        line-height: 30px;
        font-family: Segoe UI; 
        color:rgb(0, 0, 0);
        font-weight: 600;
        font-style: normal;
        margin-top: 10%;
     
    }
    
                    
}
                    
                    

                                         
 @media screen and (min-width: 1600px) {
    .margintop2{
        margin-top: 80px;
    }
    
    .margintop3{
        margin-top: 80px;
    }
    
     
    .margintop4{
        margin-top: 50px;
   
    }

    .margintop5{
        margin-top: 70px;
    }

    .margintop6{
        margin-top: 50px;
    }

    .margintop7{
        margin-top: 80px;
    }

    .buttonres1 {
        margin-left: 120px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 120px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 130px;
        margin-bottom: 20px;
    }

    
    .buttonres5 {
        margin-left: 130px;
        margin-bottom: 20px;
    }


    
    .buttonres6{
        margin-left: 170px;
        margin-bottom: 20px;
    }


   
    .buttonres7{
        margin-left: 130px;
        margin-bottom: 20px;
    }
  
}
       
        
            
@media screen and (min-width: 350px) {
    
    .headingsheader{
        font-size: 10;
        text-align: center;
        line-height: 20px;
        font-family: Segoe UI;
        color: white;
        font-weight: 500;
        font-style: normal;
        margin-top: 7%;
    
    }
    
    .box{
        height: 400px;
    }
        
            
            
            
        }

