.headings {
   margin-left: 380px;
   font-size: 46px;
   line-height: 280px;
   font-family: Segoe UI;
   color: rgb(255, 255, 255);
   font-weight: 600;
   font-style: normal;
}

.para {
   font-family: Segoe UI;
   font-size: 18px;
   line-height: 23px;
   margin-left: 10px;
   color: black;
   font-weight: 400;
   text-decoration: none solid rgb(0, 0, 0);
}

.subhead {
   font-weight: bold;
   font-family: Segoe UI;
   font-size: 35px;
   line-height: 40px;
   color: #90331c;
}

.subhead2 {
   font-weight: bold;
   font-family: Segoe UI;
   margin-top: 10%;
   font-size: 35px;
   line-height: 40px;
   color: #811a00e0;
}

.subhead3 {

   font-family: Segoe UI;
   font-size: 15px;
   margin-top: 80px;
   margin-left: 20px;
   color: #ffffff;
}

.content2 {

   height: 460px;
   color: #fff;
   line-height: 160px;
   text-align: center;
   background: #364d79;

}


@media screen and (min-width: 576px) {


   .headings {
      margin-left: 380px;
      font-size: 46px;
      line-height: 280px;
      font-family: Segoe UI;
      color: rgb(255, 255, 255);
      font-weight: 600;
      font-style: normal;
   }
   
   .para {
      font-family: Segoe UI;
      font-size: 18px;
      line-height: 23px;
      margin-left: 10px;
      color: black;
      font-weight: 400;
      text-decoration: none solid rgb(0, 0, 0);
   }
   
   .subhead {
      font-weight: bold;
      font-family: Segoe UI;
      font-size: 35px;
      line-height: 40px;
      color: #90331c;
   }
   
   .subhead2 {
      font-weight: bold;
      font-family: Segoe UI;
      margin-top: 10%;
      font-size: 35px;
      line-height: 40px;
      color: #811a00e0;
   }
   
   .subhead3 {
   
      font-family: Segoe UI;
      font-size: 15px;
      margin-top: 80px;
      margin-left: 20px;
      color: #ffffff;
   }
}


@media screen and (max-width: 576px) {


   .headings {
      margin-left: 10%;
      font-size: 34px;
      width: 100%;
      line-height: 72px;
      font-family: Segoe UI;
      color: rgb(255, 255, 255);
      font-weight: 600;
      font-style: normal;
   }
   
   .para {
      font-family: Segoe UI;
      font-size: 18px;
      line-height: 23px;
      margin-left: 10px;
      color: black;
      font-weight: 400;
      text-decoration: none solid rgb(0, 0, 0);
   }
   
   .subhead {
      font-weight: bold;
      font-family: Segoe UI;
      font-size: 35px;
      line-height: 40px;
      color: #90331c;
   }
   
   .subhead2 {
      font-weight: bold;
      font-family: Segoe UI;
      margin-top: 10%;
      font-size: 35px;
      line-height: 40px;
      color: #811a00e0;
   }
   
   .subhead3 {
   
      font-family: Segoe UI;
      font-size: 15px;
      margin-top: 80px;
      margin-left: 20px;
      color: #ffffff;
   }  
}


@media screen and (max-width: 991px) {


   .headings {
      margin-left: 380px;
      font-size: 46px;
      line-height: 280px;
      font-family: Segoe UI;
      color: rgb(255, 255, 255);
      font-weight: 600;
      font-style: normal;
   }
   
   .para {
      font-family: Segoe UI;
      font-size: 18px;
      line-height: 23px;
      margin-left: 10px;
      color: black;
      font-weight: 400;
      text-decoration: none solid rgb(0, 0, 0);
   }
   
   .subhead {
      font-weight: bold;
      font-family: Segoe UI;
      font-size: 35px;
      line-height: 40px;
      color: #90331c;
   }
   
   .subhead2 {
      font-weight: bold;
      font-family: Segoe UI;
      margin-top: 10%;
      font-size: 35px;
      line-height: 40px;
      color: #811a00e0;
   }
   
   .subhead3 {
   
      font-family: Segoe UI;
      font-size: 15px;
      margin-top: 80px;
      margin-left: 20px;
      color: #ffffff;
   }
}


@media screen and (max-width: 768px) {


   .headings {
      margin-left: 10%;
      font-size: 34px;
      width: 100%;
      text-align: center;
      line-height: 72px;
      font-family: Segoe UI;
      color: rgb(255, 255, 255);
      font-weight: 600;
      font-style: normal;
   }
   
   .para {
      font-family: Segoe UI;
      font-size: 18px;
      line-height: 23px;
      margin-left: 10px;
      color: black;
      font-weight: 400;
      text-decoration: none solid rgb(0, 0, 0);
   }
   
   .subhead {
      font-weight: bold;
      font-family: Segoe UI;
      font-size: 35px;
      line-height: 40px;
      color: #90331c;
   }
   
   .subhead2 {
      font-weight: bold;
      font-family: Segoe UI;
      margin-top: 10%;
      font-size: 35px;
      line-height: 40px;
      color: #811a00e0;
   }
   
   .subhead3 {
   
      font-family: Segoe UI;
      font-size: 15px;
      margin-top: 80px;
      margin-left: 20px;
      color: #ffffff;
   }
}