/* screens */

.desktophome {
  display: block;
}

.mobilehome {
  display: none;
}

@media screen and (max-width: 991px) {
  .desktophome {
    display: none;
  }

  .mobilehome {
    display: block;
  }
}

.cintoslider {
  margin-top: 10%;
  font-size: 40px;
  font-family: Segoe UI;
  line-height: 100%;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width:977px) {
  
.cintoslider {
  margin-top: 10%;
  font-size: 30px;
  font-family: Segoe UI;
  line-height: 100%;
  font-weight: bold;
  text-align: center;
}
  
}

@media screen and (max-width:714px) {
  
  .cintoslider {
    margin-top: 10%;
    font-size: 22px;
    font-family: Segoe UI;
    line-height: 100%;
    font-weight: bold;
    text-align: center;
  }
    
  }

  @media screen and (max-width:491px) {
  
    .cintoslider {
      margin-top: 10%;
      font-size: 20px;
      font-family: Segoe UI;
      line-height: 150%;
      font-weight: bold;
      text-align: center;
    }
      
    }

    @media screen and (max-width:424px) {
  
      .cintoslider {
        margin-top: 10%;
        font-size: 18px;
        font-family: Segoe UI;
        line-height: 150%;
        font-weight: bold;
        text-align: center;
      }
        
      }

/* CSS */
.featuresbtn {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 7%;
}

.featuresbtn span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.featuresbtn span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.featuresbtn:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.featuresbtn:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.featuresbtn:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.modslider {
  display: block;
}

.mainheading {
  font-size: 42px;
  font-weight: bold;
  font-family: Segoe UI;
  padding: 50px;
}

.contain {
  margin: auto;
  width: 90%;
  position: relative;
  top: 172px;
  margin-top: 43px;
}

.heading3 {
  font-size: 34px;
  font-weight: 600;
  color: #303030;
  width: 54%;
  font-family: Be Vietnam Pro;
  text-align: start;
  margin-left: 1%;
}

.para3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  width: 836px;
  color: #303030;
  font-family: Be Vietnam Pro;
  text-align: start;
  padding: 20px;
}

.mainpara {
  font-size: 17px;
  font-weight: bold;
  font-family: Segoe UI;
  color: rgb(59 56 56);
  margin-top: -2%;
}

.mainpara3 {
  font-size: 17px;
  font-weight: bold;
  font-family: Segoe UI;
  width: 70%;
  margin: auto;
  text-align: center;
  color: rgb(59 56 56);
}

.center {
  width: 90%;
  text-align: center;
  margin: auto;
}

.firstbox {
  width: 80%;
  height: 400px;
  background-image: url("../public/assets/imgs/page/homepage4/ban8.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  margin: auto;
}

.secondbox {
  width: 80%;
  height: 500px;
  background-image: url("../public/assets/imgs/page/homepage4/ban8.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  margin: auto;
  padding: 30px;
}

.circlebox {
  width: 80%;
  height: 400px;
  text-align: center;
  font-size: 24px;
  padding: 230px;
  margin-top: -14%;
  margin-left: 10%;
  margin-bottom: 20%;
}

.smallheading {
  font-size: 17px;
  margin-top: 5%;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: Segoe UI;
  color: rgb(103, 103, 103);
}

.boxheading1 {
  font-size: 25px;
  font-family: Segoe UI;
  font-weight: 700;
  text-align: center;
}

.boxpara1 {
  font-size: 15px;
  width: 80%;
  margin: auto;
  text-align: start;
}

.boxheading12 {
  font-size: 25px;
  font-family: Segoe UI;
  font-weight: 700;
  text-align: start;
}

.boxpara12 {
  font-size: 15px;

  margin: auto;
  text-align: start;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
}

.container2 {
  display: grid;
  grid-template-columns: 2fr 4fr;
  padding: 0 20px;
}

.circlecontainer {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  padding: 0 20px;
}

.lastboxicons {
  position: relative;
  margin: -60px;
  /* top: -40px; */
  bottom: 30px;
}

.lastboxcontainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  margin-top: 40px;
}

.lastboxheading {
  font-size: 23px;
  font-weight: bold;
  font-family: Segoe UI;
  color: rgb(59 56 56);
  text-align: start;
}

.lastboxpara {
  text-align: start;
  font-size: 18px;
  margin-top: 5%;
  font-weight: 600;

  font-family: Segoe UI;
  color: rgb(67, 65, 65);
  margin-bottom: 80px;
}

.lastboxspace {
  margin-top: 30px;
}

.itemlogo {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 40%;
}

.itemlogo {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 40%;
}

.item1 {
  margin-top: 25%;
  margin-right: 20px;
}

.item3 {
  margin-top: 20%;
  margin-right: 30px;
}

.boxheading22 {
  font-size: 35px;

  font-family: Segoe UI;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.boxheading23 {
  font-size: 35px;

  font-family: Segoe UI;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.boxheading24 {
  font-size: 35px;
  line-height: 40px;
  font-family: Segoe UI;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.boxheading2 {
  font-size: 25px;
  font-family: Segoe UI;
  font-weight: 700;
  text-align: start;
}

.boxpara2 {
  font-size: 18px;
  text-align: start;
}

.iijj {
  position: relative;
  width: 652px;
  height: 535px;
  /* left: 928px; */
  top: -20px;
}

@media screen and (max-width: 1282px) {
  .iijj {
    position: relative;
    width: 496px;
    height: 535px;
    /* left: 928px; */
    top: -20px;
  }
}

/* .menu1{
  font-family: "Inter";
  font-weight: "700";
  font-size: "80px";
  line-height: "66px";
  margin-top: "50px";
}  */

/* 
@media screen and (min-width:1780px) {
  .menu1{
    font-family: "Inter";
    font-weight: "700";
    font-size: "35px" !important;
    line-height: "66px";
    margin-top: "50px";
  } 
  
} */

/* boxbutton */

.buttonstart {
  margin: auto;
  text-align: start;
}

.buttonstart1 {
  margin: auto;
  text-align: center;
  margin-top: 4%;
}

.buttonstart100 {
  margin: auto;
  text-align: center;
  margin-top: -1%;
}

.button {
  display: inline-block;
  border-radius: 10px;
  font-weight: bold;
  font-family: Segoe UI;
  background-color: #0099ff;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 13px;
  width: 165px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .modslider {
    display: none;
  }
}

@media (max-width: 1045px) {
  .contain {
    margin: auto;
    width: 80%;
    margin-top: 16px;
  }
  .heading3 {
    font-size: 32px;
    font-weight: 500;
    width: 54%;
    font-family: Segoe UI;
    text-align: start;
  }

  .para3 {
    font-size: 17px;
    font-weight: 500;
    width: 54%;
    font-family: Segoe UI;
    text-align: start;
    padding: 20px;
  }
}

@media (max-width: 353px) {
  .dai {
    display: none;
  }
}

@media screen and (max-width: 1034px) {
  .fadedcardssmall {
    display: block;
  }
  .fadedcard {
    display: none;
  }
  .fadedcardsmid {
    display: none;
  }
}

@media screen and (min-width: 679px) {
  .fadedcardssmall {
    display: none !important;
  }
  .fadedcard {
    display: block !important;
  }
  .fadedcardsmid {
    display: none;
  }
}

@media screen and (min-width: 680px) and (max-width: 1033px) {
  .fadedcardssmall {
    display: none !important;
  }
  .fadedcard {
    display: none !important;
  }
  .fadedcardsmid {
    display: block;
  }
}

@media screen and (min-width: 675px) {
  .sectiontwofor {
    display: block;
  }
  .sectiontwoforsml {
    display: none;
  }
}

@media screen and (max-width: 674px) {
  .sectiontwofor {
    display: none;
  }
  .sectiontwoforsml {
    display: block;
  }
}

@media screen and (max-width: 1045px) {
  .heading3 {
    font-size: 28px;
    font-weight: 600;
    color: #303030;
    width: 54%;
    font-family: Be Vietnam Pro;
    text-align: start;
    margin-left: -2%;
  }

  .para3 {
    font-size: 17px;
    font-weight: 500;
    width: 100%;
    font-family: Segoe UI;
    text-align: start;
    padding: 0px !important;
    margin-left: -2px !important;
  }
}

@media screen and (max-width: 857px) {
  .heading3 {
    font-size: 22px;
    font-weight: 600;
    color: #303030;
    width: 54%;
    font-family: Be Vietnam Pro;
    text-align: start;
    margin-left: -2%;
  }

  .para3 {
    font-size: 17px;
    font-weight: 500;
    width: 100%;
    font-family: Segoe UI;
    text-align: start;
    padding: 0px !important;
    margin-left: -2px !important;
  }
}

@media screen and (max-width: 677px) {
  .heading3 {
    font-size: 19px;
    font-weight: 600;
    color: #303030;
    width: 100%;
    font-family: Be Vietnam Pro;
    text-align: start;
    margin-left: -2%;
  }
  .contain {
    margin: auto;
    width: 80%;
    margin-top: -126px;
  }
  .para3 {
    font-size: 15px !important;
    font-weight: 500;
    width: 100%;
    font-family: Segoe UI;
    text-align: start;
    padding: 0px !important;
    margin-left: -2px !important;
    line-height: 24px;
  }
}

@media screen and (max-width: 324px) {
  .heading3 {
    font-size: 17px;
    font-weight: 600;
    color: #303030;
    width: 100%;
    font-family: Be Vietnam Pro;
    text-align: start;
    margin-left: -2%;
  }

  .para3 {
    font-size: 13px !important;
    font-weight: 500;
    width: 100%;
    font-family: Segoe UI;
    text-align: start;
    padding: 0px !important;
    margin-left: -2px !important;
    line-height: 19px;
  }
}

@media screen and (min-width: 998px) {
  .card2bigscreen {
    display: block;
  }
  .card2midscreen {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .card2bigscreen {
    display: none;
  }
  .card2midscreen {
    display: block;
  }
}


@media screen and (min-width: 994px) {
  .card3bigscreen {
    display: block;
  }
  .card3midscreen {
    display: none;
  }
  .card3smallscreen{
    display: none;
  }
}

@media screen and (max-width: 995px) {
  .card3bigscreen {
    display: none;
  }
  .card3midscreen {
    display: block;
  }
  .card3smallscreen{
    display: none;
  }
}



@media screen and (max-width:767px) {
  .card3bigscreen {
    display: none;
  }
  .card3midscreen {
    display: none;
  }
  .card3smallscreen{
    display: block;
  }
}



@media screen and (min-width: 992px) {
  .cards4midscreen {
    display: none;
  }
  .cards4screen {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .cards4midscreen {
    display: block;
  }
  .cards4screen {
    display: none;
  }
}
