.para {
   
 margin-top: 5%;
 margin-bottom: 10%;
  font-family:Segoe UI;
  font-size: 18px;
  line-height: 23px;
  color:black;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);


}

.bghead{
  background-image: url(/assets/imgs/page/homepage4/ban1.jpg);
  background-size : cover;
  height: 70vh;
  padding: 20px 50px;
}

.headings{
 text-align: center;
 font-size: 46px;
 line-height: 56px;
 font-family: Segoe UI;
 font-weight: 600;
 font-style: normal;
 margin-top: 5%;
 
}

.subhead {
 font-weight:bold;
 font-size: 25px;
 line-height: 40px;
 color: #90331c;
}

.subhead2 {
 font-weight:bold;
 font-size: 25px;
 line-height: 40px;
 color: #90331c;
}

.headings2{
text-align: center;
 font-size: 46px;
 line-height: 56px;
 font-family: Segoe UI;
 font-weight: 600;
 font-style: normal;
 margin-top: 2%;

 
}

.paracenter {

text-align: center;
font-family:Segoe UI;
font-size: 18px;
line-height: 23px;
color:black;
font-weight: 400;
text-decoration: none solid rgb(0, 0, 0);


}

.headings3{
font-weight:bold;
font-size: 40px;
line-height: 30px;
color: #90331c;
text-align: center;
}


.para2 {
margin-top: 20px;
width: 100%;
font-family:Segoe UI;
font-size: 18px;
line-height: 23px;
color:black;
font-weight: 400;
text-decoration: none solid rgb(0, 0, 0);
text-align: center;


}

.heroimg{
border-radius: 10px;
height: 52vh;
margin-top: 8%;
width:70%
}

.conimg{
  height: 70vh;

  
}

.centerimg{
  margin: auto;

  text-align: center;

}

.centercon{
  margin: auto;

  text-align: center;
  margin-top: 2%;
  width: 80%;
  
}

@media screen and (max-width: 992px){

  .heroimg{
    display: none;
  }

  .bghead{
    background-image: url(/assets/imgs/page/homepage4/ban1.jpg);
    background-size : cover;
    height: 50vh;
    padding: 20px 50px;
  }
}


@media screen and (max-width: 380px){
 
.headings2{
  text-align: center;
   font-size: 46px;
   line-height: 56px;
   font-family: Segoe UI;
   font-weight: 600;
   font-style: normal;
   margin-top: 10%;
   
  }
  .bghead{
    background-image: url(/assets/imgs/page/homepage4/ban1.jpg);
    background-size : cover;
    height: 82vh;
    padding: 20px 50px;
  }
}


@media screen and (max-width: 280px){
 
  .headings2{
    text-align: center;
     font-size: 46px;
     line-height: 56px;
     font-family: Segoe UI;
     font-weight: 600;
     font-style: normal;
     margin-top: 10%;
     
    }
    .bghead{
      background-image: url(/assets/imgs/page/homepage4/ban1.jpg);
      background-size : cover;
      height: 130vh;
      padding: 20px 50px;
    }
  }









