.headings {



    font-size: 76px;
    margin-left: 340px;
    margin-top: 100px;
    text-align: center;
    font-family: Segoe UI;
    color: rgb(255, 255, 255);

    font-weight: 600;
    font-style: normal;
}


.hida {
    margin: auto;
    text-align: center;
}

.para {
    font-family: Segoe UI;


    margin-left: 50px;
    margin-top: 10%;
    font-size: 28px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none solid rgb(0, 0, 0);
}



/* style for the odd container side heading */

.subhead {
    font-family: Segoe UI;
    text-align: start;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 20px;
    color: #0f0f0f;
}

.subhead2 {
    font-family: Segoe UI;
    text-align: start;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #181818e0;
}

.subhead3 {
   
    font-size: 15px;
    
    color: #ffffff;
}



/* style for the even container side heading */

.subhead8 {
    font-family: Segoe UI;
    text-align: left;
    margin-right: 10px;
    margin-top: 250px;
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
    color: #591605;
}

.subhead9 {
    font-family: Segoe UI;
    text-align: start;
    margin-right: 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #181818e0;
}


/* style for the main module container */

.para5 {
    font-family: Segoe UI;
    text-align: center;
    margin-top: 90px;
    font-size: 48px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-decoration: none solid rgb(0, 0, 0);
}






@media screen and (max-width: 768px) {

    .headings {



        font-size: 76px;
        margin-left: 340px;
        margin-top: 100px;
        text-align: center;
        font-family: Segoe UI;
        color: rgb(255, 255, 255);

        font-weight: 600;
        font-style: normal;
    }

    .para {
        font-family: Segoe UI;


        margin-left: 50px;
        margin-top: 20%;
        font-size: 28px;
        line-height: 20px;
        color: rgb(0, 0, 0);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }



    /* style for the odd container side heading */

    .subhead {
        font-family: Segoe UI;
        text-align: start;
        margin-left: 50px;
        margin-top: 30px;
        font-size: 18px;
        line-height: 20px;
        color: #0f0f0f;
    }

    .subhead2 {
        font-family: Segoe UI;
        text-align: start;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }

    .subhead3 {
        /* font-weight:bold; */
        font-size: 15px;
        /* line-height: 20px; */
        color: #ffffff;
    }



    /* style for the even container side heading */

    .subhead8 {
        font-family: Segoe UI;
        text-align: left;
        margin-right: 10px;
        margin-top: 250px;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        color: #591605;
    }

    .subhead9 {
        font-family: Segoe UI;
        text-align: start;
        margin-right: 20px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }


    /* style for the main module container */

    .para5 {
        font-family: Segoe UI;
        text-align: center;
        margin-top: 90px;
        font-size: 48px;
        line-height: 20px;
        color: rgb(0, 0, 0);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }

}





@media screen and (max-width: 991px) {

    .headings {



        font-size: 76px;
        margin-left: 340px;
        margin-top: 100px;
        text-align: center;
        font-family: Segoe UI;
        color: rgb(255, 255, 255);

        font-weight: 600;
        font-style: normal;
    }

    .para {
        font-family: Segoe UI;


        margin-left: 50px;
        margin-top: 20%;
        font-size: 28px;
        line-height: 20px;
        color: rgb(0, 0, 0);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }



    /* style for the odd container side heading */

    .subhead {
        font-family: Segoe UI;
        text-align: start;
        margin-left: 50px;
        margin-top: 30px;
        font-size: 18px;
        line-height: 20px;
        color: #0f0f0f;
    }

    .subhead2 {
        font-family: Segoe UI;
        text-align: start;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }

    .subhead3 {
        /* font-weight:bold; */
        font-size: 15px;
        /* line-height: 20px; */
        color: #ffffff;
    }



    /* style for the even container side heading */

    .subhead8 {
        font-family: Segoe UI;
        text-align: left;
        margin-right: 10px;
        margin-top: 250px;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        color: #591605;
    }

    .subhead9 {
        font-family: Segoe UI;
        text-align: start;
        margin-right: 20px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }


    /* style for the main module container */

    .para5 {
        font-family: Segoe UI;
        text-align: center;
        margin-top: 90px;
        font-size: 48px;
        line-height: 20px;
        color: rgb(0, 0, 0);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }

}





@media screen and (max-width: 576px) {

    .headings {



        font-size: 36px;
        margin-left: 10%;
        margin-top: 100px;
        text-align: center;
        font-family: Segoe UI;
        color: rgb(255, 255, 255);

        font-weight: 600;
        font-style: normal;
    }

    .para {
        font-family: Segoe UI;


        margin-left: 20px;
        margin-top: 20%;
        font-size: 20px;
        line-height: 25px;
        color: rgb(0, 0, 0);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }



    /* style for the odd container side heading */

    .subhead {
        font-family: Segoe UI;
        text-align: start;
        margin-left: 50px;
        margin-top: 30px;
        font-size: 16px;
        line-height: 20px;
        color: #0f0f0f;
    }

    .subhead2 {
        font-family: Segoe UI;
        text-align: start;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }

    .subhead3 {
        /* font-weight:bold; */
        font-size: 15px;
        /* line-height: 20px; */
        color: #ffffff;
    }



    /* style for the even container side heading */

    .subhead8 {
        font-family: Segoe UI;
        text-align: left;
        margin-right: 10px;
        margin-top: 250px;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        color: #591605;
    }

    .subhead9 {
        font-family: Segoe UI;
        text-align: start;
        margin-right: 20px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }


    /* style for the main module container */

    .para5 {
        font-family: Segoe UI;
        text-align: center;
        margin-top: 90px;
        font-size: 48px;
        line-height: 20px;
        color: rgb(0, 0, 0);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }

}


@media screen and (min-width: 576px) {

    .headings {



        font-size: 46px;
        margin-left: 340px;
        margin-top: 100px;
        text-align: center;
        font-family: Segoe UI;
        color: rgb(255, 255, 255);

        font-weight: 600;
        font-style: normal;
    }

    .para {
        font-family: Segoe UI;


        margin-left: 50px;
        margin-top: 20%;
        font-size: 28px;
        line-height: 20px;
        color: rgb(0, 0, 0);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }



    /* style for the odd container side heading */

    .subhead {
        font-family: Segoe UI;
        text-align: start;
        margin-left: 50px;
        margin-top: 30px;
        font-size: 18px;
        line-height: 20px;
        color: #0f0f0f;
    }

    .subhead2 {
        font-family: Segoe UI;
        text-align: start;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }

    .subhead3 {
        /* font-weight:bold; */
        font-size: 15px;
        /* line-height: 20px; */
        color: #ffffff;
    }



    /* style for the even container side heading */

    .subhead8 {
        font-family: Segoe UI;
        text-align: left;
        margin-right: 10px;
        margin-top: 250px;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        color: #591605;
    }

    .subhead9 {
        font-family: Segoe UI;
        text-align: start;
        margin-right: 20px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #181818e0;
    }


    /* style for the main module container */

    .para5 {
        font-family: Segoe UI;
        text-align: center;
        margin-top: 90px;
        font-size: 48px;
        line-height: 20px;
        color: rgb(0, 0, 0);
        font-weight: 600;
        text-decoration: none solid rgb(0, 0, 0);
    }

}