.mainhead {
  margin: auto;
  text-align: center;
   font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 59px;
  /* identical to box height */
  color: #000000;
}

.phead{
  margin: auto;
  text-align: center;
  width: 60%;
}

.qhead{
  margin: auto;
  text-align: center;
  width: 100%;
}

.smallheading {
  text-align: start;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  margin-top: 3%;
  color: #000000;
}

@media screen and (max-width: 991px) {
  .mainhead {
    margin: auto;
    margin-top: 4%;
    text-align: center;
     font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 59px;
    /* identical to box height */

    color: #000000;
  }
  .smallheading {
    text-align: start;
 
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;

    margin-top: 3%;

    color: #000000;
  }
}

@media screen and (max-width: 725px) {
  .mainhead {

    text-align: center;
    margin-top: 4%;
     font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 59px;
    /* identical to box height */

    color: #000000;
  }
  .smallheading {
    text-align: start;

    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
 
    margin-top: 3%;

    color: #000000;
  }
}

@media screen and (max-width: 591px) {
  .mainhead {

    text-align: center;
     font-family: Arial;
    margin-top: 4%;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 59px;
    /* identical to box height */

    color: #000000;
  }
  .smallheading {
    text-align: start;
 
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
 
    margin-top: 3%;

    color: #000000;
  }
}

@media screen and (max-width: 459px) {
  .mainhead {
   
    text-align: center;
     font-family: Arial;
    font-style: normal;
    margin-top: 4%;
    font-weight: 700;
    font-size: 23px;
    line-height: 59px;
    /* identical to box height */

    color: #000000;
  }
  .smallheading {
    text-align: start;

    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;

    margin-top: 3%;

    color: #000000;
  }
}

@media screen and (max-width: 359px) {
  .mainhead {

    text-align: center;
     font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 59px;
    /* identical to box height */

    color: #000000;
  }
  .smallheading {
    text-align: start;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-top: 3%;
    color: #000000;
  }
}

@media screen and (max-width: 291px) {
  .mainhead {
 
    text-align: center;
     font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 59px;
    /* identical to box height */

    color: #000000;
  }
  .smallheading {
    text-align: start;
  
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
 
    margin-top: 3%;

    color: #000000;
  }
}
