.mainhead {
  margin: auto;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 59px;
  /* identical to box height */

  color: #000000;
}

.smallheading {
  text-align: start;
  width: 70%;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 29px;
  margin-left: 16%;
  margin-top: 3%;

  color: #000000;
}

@media screen and (max-width: 991px) {
  .mainhead {
    margin: auto;
    margin-top: 4%;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 59px;
    /* identical to box height */

    color: #000000;
  }
  .smallheading {
    text-align: start;
    width: 70%;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-left: 16%;
    margin-top: 3%;

    color: #000000;
  }
}

@media screen and (max-width: 725px) {
  .mainhead {
    margin: auto;
    text-align: center;
    margin-top: 4%;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 59px;
    /* identical to box height */

    color: #000000;
  }
  .smallheading {
    text-align: start;
    width: 70%;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
    margin-left: 16%;
    margin-top: 3%;

    color: #000000;
  }
}

@media screen and (max-width: 591px) {
  .mainhead {
    margin: auto;
    text-align: center;
    font-family: Lato;
    margin-top: 4%;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 59px;
    /* identical to box height */

    color: #000000;
  }
  .smallheading {
    text-align: start;
    width: 70%;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin-left: 16%;
    margin-top: 3%;

    color: #000000;
  }
}

@media screen and (max-width: 459px) {
  .mainhead {
    margin: auto;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    margin-top: 4%;
    font-weight: 700;
    font-size: 23px;
    line-height: 59px;
    /* identical to box height */

    color: #000000;
  }
  .smallheading {
    text-align: start;
    width: 70%;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    margin-left: 16%;
    margin-top: 3%;

    color: #000000;
  }
}

@media screen and (max-width: 359px) {
  .mainhead {
    margin: auto;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 59px;
    /* identical to box height */

    color: #000000;
  }
  .smallheading {
    text-align: start;
    width: 70%;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    margin-left: 16%;
    margin-top: 3%;

    color: #000000;
  }
}

@media screen and (max-width: 291px) {
  .mainhead {
    margin: auto;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 59px;
    /* identical to box height */

    color: #000000;
  }
  .smallheading {
    text-align: start;
    width: 70%;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin-left: 16%;
    margin-top: 3%;

    color: #000000;
  }
}
