.boxhead{
    width: 100%;
    height:1020px;
   display: flex;
   padding: 0px;
   background-color: #8a1f17;

}
.childhead{

    height: 600px;
    color: black;
    background-color:white;
  padding-left:0 ;
  text-align: center;
  border-radius: 9px;
margin-top:50px;

}
.box1{
  width: 75%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-left:10%;
  text-align: center;
  margin-top: 5%;
}
.p1{
    
  
    text-align: center;
   
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
   /* text-align: start;  */


}

.boxhead1{
    font-family: 'Leelawadee UI';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 56px;
/* or 124% */


color: #FFFFFF;
width: 75%;
    text-align: center;
    margin-left: 13%;
    margin-top: 4%;
}
.parahead1{
    font-family:'Arial ';
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 31px;
/* or 107% */


color: #FFFFFF;

width: 70%;
    text-align: justify;
    margin-left: 15%;

}
@media screen and (max-width:1200px) {
    .p1{ 
    text-align: center;
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    /* text-align: start; */
}
}
@media screen and (max-width:992px) {

    .boxhead{
        width: 100%;
        height:1090px;
       display: flex;
       padding: 0px;
       background-color: #8a1f17;
    
    }
    .p1{ 
        text-align: center;
        font-family: 'Markazi Text';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 25px;
        color: #000000;
        /* text-align: start; */
    }
}
@media screen and (max-width:538px) {

}