.heading1 {
  text-align: center;
  font-size: 43px;
  font-weight: 700;
  line-height: 56px;
  font-family: Arial;
  margin-top: 2%;
}

@media screen and (max-width: 563px) {
  .heading1 {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    font-family: Arial;
    margin-top: 10%;
  }

  .para1 {
    text-align: center;
    font-weight: 400;
    font-size: 20px !important;
    line-height: 35px;
    font-family: Arial;
    margin-top: 5%;
  }
}

.para1 {
  text-align: start;
  font-weight: 400;
  font-size: 29px;
  line-height: 44px;
  font-family: Arial;
  margin-top: 5%;
}

@media screen and (max-width: 668px) {
  .para1 {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    font-family: Arial;
    margin-top: 5%;
  }
}

@media screen and (max-width: 345px) {
  .para1 {
    text-align: center;
    font-weight: 400;
    font-size: 17px !important;
    line-height: 30px;
    font-family: Arial;
    margin-top: 5%;
  }
}

.paraparent {
  width: 77%;
  margin: auto;
}

.container {
  margin: auto;
  width: 95%;
}

.flexcontainer {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
}

.contactimage {
  margin-top: 11%;
  height: auto;
  position: relative;
  left: 23%;
}

/* form */
.form {
  background-color: #90311b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 108%;
  padding: 20px;
  width: 65%;
  position: relative;
  left: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 44px;
  color: #eee;
  margin-top: 30px;
  text-align: center;
}

.subtitle {
  color: #eee;
  font-family: Arial;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.inputcontainer1 {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 72px;
}

.inputcontainer2 {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 62px;
}

.textareacontainer {
  height: 90px;
  position: relative;
  width: 100%;
  margin-top: 62px;
}

.input {
  background-color: #ffffff;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #201f1f;
  font-size: 18px;
  height: 104%;
  outline: 0;
  padding: 4px 20px 0;
  width: 86%;
  position: relative;
  right: -7%;
  border: 1px solid #6f6d6d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.placeholder {
  color: #ffffff;
  left: 0px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: -26px;
  font-size: 37px;
  font-weight: 400;
  font-family: Arial;
}

.input::-webkit-input-placeholder {
  color: #c1baba;
}

.submit {
  background-color: #3b2b27;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 69px;
  outline: 0;
  text-align: center;
  width: 13%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.submit:active {
  background-color: #ac3419;
}

.submitbtncontainer {
  text-align: center;
  margin-top: 30px;
}

@media only screen and (min-width: 600px) {
  .form {
    background-color: #90311b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 82%;
    padding: 20px;
    width: 115%;
    position: relative;
    left: 13%;
    top: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .submit {
    background-color: #3b2b27;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    height: 50px;
    margin-top: 0%;
    outline: 0;
    text-align: center;
    position: relative;
    right: 0%;
    width: 45%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .submitbtncontainer {
    text-align: center;
    margin-top: 30px;
  }

  .placeholder{
    font-size: 20px;
  }

  .title{
    font-size: 38px;
  }
}

@media only screen and (max-width: 600px)and (max-width: 767px) {
  .paraparent {
    width: 100%;
    margin: auto;
  }

  .placeholder {
    font-size: 21px;
  }


  .title{
    font-size: 35px;
  }

  .container {
    margin: auto;
    width: 100%;
  }

  .contactimage {
    margin-top: 11%;
    height: auto;
    position: relative;
    left: 4%;
  }
  .form {
    background-color: #90311b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 80%;
    padding: 20px;
    width: 98%;
    position: relative;
    left: 2.5%;
    top: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .submit {
    background-color: #3b2b27;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    margin-top: 15%;
    outline: 0;
    text-align: center;
    position: relative;
    right: -1%;
    width: 46%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .submitbtncontainer {
    text-align: center;
    margin-top: 30px;
  }
}



@media only screen and (min-width: 576px) and (max-width: 599px) {
  .paraparent {
    width: 100%;
    margin: auto;
  }

  .container {
    margin: auto;
    width: 100%;
  }

  .contactimage {
    margin-top: 11%;
    height: auto;
    position: relative;
    left: 19%;
  }
  .form {
    background-color: #90311b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 79%;
    padding: 20px;
    width: 101%;
    position: relative;
    left: 20%;
    top: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .submit {
    background-color: #3b2b27;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 0%;
    outline: 0;
    text-align: center;
    position: relative;
    right: 2%;
    width: 46%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .submitbtncontainer {
    text-align: center;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .contactimage {
    margin-top: 61%;
    height: auto;
    position: relative;
    left: -9%;
  }
  .form {
    background-color: #90311b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 77%;
    padding: 20px;
    width: 106%;
    position: relative;
    left: -1%;
    top: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .title{
    font-size: 41px;
  }
  
  .placeholder{
    font-size: 26px;
  }

  .submit {
    background-color: #3b2b27;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    height: 50px;
    margin-top: 4%;
    outline: 0;
    text-align: center;
    position: relative;
    right: 0%;
    width: 43%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .submitbtncontainer {
    text-align: center;
    margin-top: -2px;
  }
}

@media only screen and (min-width: 1200px) {
  .contactimage {
    margin-top: 15%;
    height: auto;
    position: relative;
    left: 24%;
  }

  .form {
    background-color: #90311b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 104%;
    padding: 20px;
    width: 58%;
    position: relative;
    left: 3%;
    top: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .submit {
    background-color: #90311b;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 5%;
    outline: 0;
    text-align: center;
    position: relative;
    right: 6%;
    width: 12%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  .submitbtncontainer {
    text-align: center;
    margin-top: -27px;
  }
}

@media only screen and (min-width: 992px) {
  .contactimage {
    margin-top: 15%;
    height: auto;
    position: relative;
    left: 9%;
  }

  .form {
    background-color: #90311b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 81%;
    padding: 20px;
    width: 92%;
    position: relative;
    left: 3%;
    top: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .submit {
    background-color: #3b2b27;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 9%;
    outline: 0;
    text-align: center;
    position: relative;
    right: 0%;
    width: 54%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}

@media only screen and (min-width: 1900px) {
  .contactimage {
    margin-top: 15%;
    height: auto;
    position: relative;
    left: 9%;
  }

  .form {
    background-color: #90311b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 88%;
    padding: 20px;
    width: 67%;
    position: relative;
    left: 3%;
    top: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .submit {
    background-color: #3b2b27;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 11%;
    outline: 0;
    text-align: center;
    position: relative;
    right: 12%;
    width: 40%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}
