.allfooter{
    display: block;
}

.mobilefooter{
    display: none;
}
.allheader{
    display: block;
}

.mobileheader{
    display: none;
}


@media screen and (max-width: 425px){

    .allfooter{
        display:none;
    }
    
    .mobilefooter{
        display: block;
    }

    .allheader{
        display:none;
    }
    
    .mobileheader{
        display: block;
    }
}