.tabs{
  display: block;
}

.mobiletab{
  display: none;
}

  .heroimg {
    height: 500px;
    margin-top: 100px;
  }
  
  .para {
   
 
     font-family:Segoe UI;
     font-size: 18px;
     line-height: 23px;
     color:black;
     font-weight: 400;
     text-decoration: none solid rgb(0, 0, 0);
     width: 80%;
  
}



.headings{
    text-align: center;
    font-size: 46px;
    line-height: 56px;
    font-family: Segoe UI;
    font-weight: 600;
    font-style: normal;
    margin-top: 50px;
    
}

.subhead {
    font-weight:bold;
    font-size: 25px;
    line-height: 40px;
    color: #90331c;
    margin-top: 20%;
 
  }

  .subhead2 {
    font-weight:bold;
    font-size: 25px;
    line-height: 40px;
    color: #90331c;
    margin-top: 12%;
  }

  .headings2{
  
    font-size: 46px;
    line-height: 56px;
    font-family: Segoe UI;
    font-weight: 600;
    font-style: normal;
    margin-top: 120px;
    
}

.paracenter {
   
 text-align: center;
  font-family:Segoe UI;
  font-size: 18px;
  line-height: 23px;
  color:black;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
  display: inline-block;
  text-align: left;


}

.headings3{
  font-weight:bold;
  font-size: 40px;
  line-height: 30px;
  color: #90331c;
  text-align: center;
  margin-top: 60px;
}


.para2 {
 margin-top: 20px;
 width: 100%;
  font-family:Segoe UI;
  font-size: 18px;
  line-height: 23px;
  color:black;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: start;
  
 


}

.para3 {
  margin-top: 20px;
  width: 100%;
   font-family:Segoe UI;
   font-size: 18px;
   line-height: 23px;
   color:black;
   font-weight: 400;
   text-decoration: none solid rgb(0, 0, 0);
   text-align: start;
   

 
 
 }

.imgcon {
  height: 500px;
  margin-top: 100px;
}

.conimgone {
  height: 50vh;
  margin-top: 8%;
}

.conimgtwo {
  height: 50vh;
  margin-top: 8%;
}


.tabimg {
  height: 50vh;
  margin-top: 80px;
  margin-bottom: 5%;

}

.mobiletab{
  display: none;
}


.tab{
  display: block;
}




@media screen and (max-width: 768px){

  .subhead2 {
    font-weight:bold;
    font-size: 25px;
    line-height: 40px;
    color: #90331c;
    margin-top: 0%;
  }

  
  

  .imgcon {
    height: 400px;
    margin-top: 50px;
  }

  

  .para {
   
 
    font-family:Segoe UI;
    font-size: 18px;
    line-height: 23px;
    color:black;
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
    width: 80%;
 

}

.subhead {
  font-weight:bold;
  font-size: 25px;
  line-height: 40px;
  color: #90331c;
  margin-top: 150px;

}

.tabs{
  margin-top: 50px;
}

.tabimg {
  height: 50vh;
  margin-top: 10px;

}
.tabs{
  display: none;
}

.mobiletab{
  display: block;
}



}







@media screen and (max-width: 576px){
  .subhead {
    font-weight:bold;
    font-size: 25px;
    line-height: 40px;
    color: #90331c;
    margin-top: 30px;
  
  }

  .tabimg {
    height: 57vh;
    margin-top: 80px;
  
  }

  .imgcon {
    height: 60vh;
    margin-top: 50px;
  }

  .para2 {
    margin-top: 20px;
    width: 100%;
     font-family:Segoe UI;
     font-size: 18px;
     line-height: 23px;
     color:black;
     font-weight: 400;
     text-decoration: none solid rgb(0, 0, 0);
     text-align: center;
    
   
   
   }
   
   .para3 {
     margin-top: 20px;
     width: 100%;
      font-family:Segoe UI;
      font-size: 18px;
      line-height: 23px;
      color:black;
      font-weight: 400;
      text-decoration: none solid rgb(0, 0, 0);
      text-align: center;

   
    
    
    }

    

  

    
  .para {
   
 
    font-family:Segoe UI;
    font-size: 18px;
    line-height: 23px;
    color:black;
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
    width: 100%;
 

}

  .headings2{
  
    font-size: 46px;
    line-height: 56px;
    font-family: Segoe UI;
    font-weight: 600;
    font-style: normal;
    margin-top: 50px;
    
}


.subhead2 {
  font-weight:bold;
  font-size: 25px;
  line-height: 40px;
  color: #90331c;
  margin-top: 0%;
}


  .heroimg {
    height: 300px;
    margin-top: 20px;
  }
  


  .headings3{
    font-weight:bold;
    font-size: 40px;
    line-height: 35px;
    color: #90331c;
    text-align: center;
    margin-top: 60px;
  }
  
.conimgone {
  height: 60vh;
  margin-top: 20px;
}
.conimgtwo {
  height: 50vh;
  margin-top: 50px;
}

.tabs{
  display: none;
}
.mobiletab{
  display: block;
}
}







