.logo{
margin-top: 10%;
height: 9vh;
width: 68%;
margin-bottom: 10%;
}

.heading{
    line-height: 40px;
    font-family: Segoe UI;
    font-weight: 400px;
}

.para{
    line-height: 24px;
    font-family: Segoe UI;
    
}


.num{
    line-height: 12px;
    font-family: Segoe UI;
    font-weight: 400px;
}

a .num{
    color: black;
}