.flexcontainer {
  display: flex;
  justify-content: space-around;
}

.subhead5 {
  font-family: Arial;
  font-style: normal;
  margin-top: 13%;
  font-weight: 700;
  margin-left: 9%;
  font-size: 35px;
  line-height: 44px;
  color: #282828;
}

.subhead7 {
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  margin-top: 15%;
  font-size: 35px;
  line-height: 44px;
  margin-left: 48%;
  color: #282828;
}

.subhead4 {
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  width: 44%;
  color: #000000;
  margin-left: 14%;
}

.subhead6 {
  font-family: Arial;
  font-style: normal;
  margin-left: 48%;
  font-weight: 400;
  font-size: 25px;
  width: 46%;
  line-height: 30px;
  color: #000000;
}

.imgplacer {
  width: 130%;
  margin-top: 10%;
  margin-left: -61%;
}

.imgplacer1 {
  width: 150%;
  margin-top: 10%;
  margin-left: 28%;
}

@media screen and (min-width: 1776px) {
.imgplacer1 {
  width: 150%;
  margin-top: 28%;
  margin-left: 28%;
}
}

@media screen and (max-width: 768px) {
  .flexcontainer {
    flex-direction: column;
  }

  .imgplacer {
    width: 45%;
    margin: auto;
    text-align: center;
  }

  .imgplacer1 {
    width: 45%;
    margin: auto;
    text-align: center;
  }
}


@media screen and (max-width: 616px) {
  .flexcontainer {
    flex-direction: column;
  }

  .imgplacer {
    width: 65%;
    margin: auto;
    text-align: center;
  }

  .imgplacer1 {
    width: 65%;
    margin: auto;
    text-align: center;
  }
}

@media screen and (max-width: 875px) {
  .subhead5 {
    font-family: Arial;
    font-style: normal;
    margin-top: 7%;
    font-weight: 700;
    text-align: start;
    font-size: 30px;
    line-height: 44px;
    color: #282828;
  }

  .subhead7 {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    text-align: start;
    margin-top: 8%;
    margin-left: 34%;
    font-size: 30px;
    line-height: 44px;
    color: #282828;
  }

  .subhead4 {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    text-align: start;
    font-size: 20px;
    line-height: 30px;
    width: 52%;
    color: #000000;
  }

  .subhead6 {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: start;
    margin-left: 34%;
    width: 42%;
    line-height: 30px;
    color: #000000;
  }
}

@media screen and (max-width: 707px) {
  .subhead5 {
    font-family: Arial;
    font-style: normal;
    margin-top: 7%;
    margin-left: 1%;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    line-height: 44px;
    color: #282828;
  }

  .subhead7 {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: 8%;
    margin-left: 3%;
    font-size: 30px;
    line-height: 44px;
    color: #282828;
  }

  .subhead4 {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    width: 75%;
    color: #000000;
  }

  .subhead6 {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-left: 21%;
    width: 58%;
    line-height: 30px;
    color: #000000;
  }
}

@media screen and (max-width: 488px) {
  .subhead5 {
    font-family: Arial;
    font-style: normal;
    margin-top: 7%;
    margin-left: 1%;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    line-height: 44px;
    color: #282828;
  }

  .subhead7 {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: 8%;
    margin-left: 3%;
    font-size: 30px;
    line-height: 44px;
    color: #282828;
  }

  .subhead4 {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    width: 75%;
    color: #000000;
  }

  .subhead6 {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    margin-left: 21%;
    width: 58%;
    color: #000000;
  }
}



@media screen and (max-width: 433px) {
  .subhead5 {
    font-family: Arial;
    font-style: normal;
    margin-top: 7%;
    margin-left: 1%;
    font-weight: 700;
    text-align: center;
    font-size: 27px;
    line-height: 44px;
    color: #282828;
  }

  .subhead7 {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: 8%;
    margin-left: 3%;
    font-size: 27px;
    line-height: 44px;
    color: #282828;
  }

  .subhead4 {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    width: 75%;
    color: #000000;
  }

  .subhead6 {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-left: 21%;
    width: 58%;
    color: #000000;
  }
}
