
.black1{
    width: 100%;
    height: 800Px;
    background-color: black;
}

.tit{

padding-top:2%;
    font-size: 30px;
    font-weight: 500;
 color: aliceblue;

}



.row{
    margin-left: 10px;
    color: rgb(7, 7, 7);

}
.poster{
    display: flex;
    padding: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
 
}
 .poster::-webkit-scrollbar{ 
    display: none;
} 

.posters{ 
    max-width: 250px;
    margin-right: 20px;
}