@media screen and (max-width: 425px)

{
  .para {
   
 
    font-family:Segoe UI;
    font-size: 18px;
    line-height: 23px;
    color:black;
    font-weight: 400;
    text-decoration: none solid rgb(0, 0, 0);
  
  
  }
  
  .headings{
  
   font-size: 46px;
   line-height: 56px;
   font-family: Segoe UI;
   font-weight: 600;
   font-style: normal;
   margin-top: 20%;
   
  }
  
  .subhead {
   font-weight:bold;
   font-size: 25px;
   line-height: 40px;
   color: #90331c;
  }
  
  .subhead2 {
   font-weight:bold;
   font-size: 25px;
   line-height: 40px;
   color: #90331c;
  }
  
  .headings2{
  
   font-size: 36px;
   line-height: 46px;
   font-family: Segoe UI;
   font-weight: bold;
   font-style: normal;
   margin-top: 26%;
   
  }
  
  .paracenter {
  
  text-align: center;
  font-family:Segoe UI;
  font-size: 18px;
  line-height: 23px;
  color:black;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
  
  
  }
  
  .headings3{
  font-weight:bold;
  font-size: 40px;
  line-height: 30px;
  color: #90331c;
  text-align: center;
  }
  
  
  .para2 {
  margin-top: 20px;
  width: 100%;
  font-family:Segoe UI;
  font-size: 18px;
  line-height: 23px;
  color:black;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: center;
  
  
  }
  
  .headimage{
    border-radius: 10px;
    height: 60vh;
  }
  
  .startbtn{
    margin-top: 6%;
  }
  
  
  .tabimg1{
    border-radius: 10px;
    height: 50vh;
    margin-top: 23%;
  }
  
  .tabimg2{
    border-radius: 10px;
    height: 50vh;
    margin-top: 10%;
  }
  
  .tabcontent{
    display: block;
  }
}



  @media screen and (max-width: 992px){


    .headings2{
  
      font-size: 36px;
      line-height: 46px;
      font-family: Segoe UI;
      font-weight: bold;
      font-style: normal;
      margin-top: 10%;
      
     }
     

     .tabimg2{
      border-radius: 10px;
      height: 50vh;
      margin-top: 5%;
    
    }

    .tabimg1{
      border-radius: 10px;
      height: 50vh;
      margin-top: 15%;
    }

    .centercon{
      text-align: center;

    }


    .centerimg{
      text-align: center;
      margin: auto;
      width: 100%;

    }
    .para {
   
      display: inline-block;
      text-align: left;
      font-family:Segoe UI;
      font-size: 18px;
      line-height: 23px;
      color:black;
      font-weight: 400;
      text-decoration: none solid rgb(0, 0, 0);
    
    
    }

    
  }
  