
.breasdcrumb{
    margin-top: 30px;  
}


.backgroundimg{
    height: 200%;
    width: 100%;
}
    


.para1{

    text-align: center;
    font-size: 18px;
    margin-left:0px;
    text-align: start;
    line-height: 30px;
    font-family: Segoe UI; 
    color:rgb(0, 0, 0);
    font-weight: 0;
    font-style: normal;
    margin-top: 0px;
}


/* headings */

.headings{
    margin-left:50px;
    font-size: 36;
    text-align: center;
    line-height: 40px;
    font-family: Segoe UI;
    color:black;
    font-weight: 600;
    font-style: normal;
    margin-top: 0px;
}
    



  
               
    


   
@media screen and (min-width: 300px) {

        .margintop1{
            margin-top: 80px;
        }

        .para1{
            text-align: center;
             font-size: 16px;
             margin:10px;
            text-align: start;
            line-height: 30px;
            font-family: Segoe UI; 
            color:rgb(0, 0, 0);
            font-weight: 0;
            font-style: normal;
            margin-top: 60px;
            font-weight: 200;
        }

        .buttonres1 {
            margin-left: 140px;
            margin-bottom: 20px;
        }
    
        .buttonres2 {
            margin-left: 140px;
            margin-bottom: 20px;
        }
    
        .buttonres3 {
            margin-left: 140px;
            margin-bottom: 20px;
        }
    
        .buttonres4 {
            margin-left: 140px;
            margin-bottom: 20px;
        }

        .margintop1{
            margin-top: 50px;
        }
        
        
        .margintop2{
            margin-top: 10px;
        }
        
        
        .margintop3{
            margin-top: 10px;
        }
        
        
        .margintop4{
            margin-top: 10px;
        }

        .headings{
            margin-left:0px;
            font-size: 36px;
            text-align: center;
            line-height: 20px;
            font-family: Segoe UI;
            color:black;
            font-weight: 600;
            font-style: normal;
            margin-top: 40px;
    
        }


        .margintop1{
            margin-top: 100px;
        }
        
        
        .margintop2{
            margin-top: 10px;
        }
        
        
        .margintop3{
            margin-top: 10px;
        }
        
        
        .margintop4{
            margin-top: 10px;
        }

        .buttonres1 {
            margin-left: 130px;
            margin-bottom: 20px;
        }
    
        .buttonres2 {
            margin-left: 130px;
            margin-bottom: 20px;
        }
    
        .buttonres3 {
            margin-left: 130px;
            margin-bottom: 20px;
        }
    
        .buttonres4 {
            margin-left: 130px;
            margin-bottom: 20px;
        }
    
    
    }
    
       


    .img1{
        margin-top: 10px;
        margin-bottom: -20px;
        box-shadow: 1px 3px 3px ;
        
    }
    
    
    .img2{
        margin-top:10px;
        margin-bottom: -20px;
        box-shadow: 1px 3px 3px ;
    }
    
    
    
    .img3{
        margin-top: 10px;
        margin-bottom: -25px;
        box-shadow: 1px 3px 3px ;
    }
    
    
    
    .img4{
        margin-top: 10px;
        margin-bottom: 100px;
        box-shadow: 1px 3px 3px ;
    }
    
    
    
    .headings4{
        margin-top: 15%;
       
        font-size: 36;
        text-align: center;
        line-height: 40px;
        font-family: Segoe UI;
        color:black;
        font-weight: 600;
        font-style: normal;
        margin-bottom: -20px;
       
    
    }
    
                   
    
    
    .headings3{
        margin-top: 25%;
       
        font-size: 36;
        text-align: center;
        line-height: 40px;
        font-family: Segoe UI;
        color:black;
        font-weight: 600;
        font-style: normal;
        margin-bottom: 20px;
       
    
    }


@media screen and (min-width: 350px) {

    .box{
        width: 400px;
        height: 300px;
      
        
    }

    
    .backgroundimg{
        height: 50%;
        width: 100%;
    }


    .headingsheader{
        font-size: 10;
        text-align: start;
        line-height: 20px;
        font-family: Segoe UI;
        color: rgb(134, 32, 18);
        font-weight: 500;
        font-style: normal;
        margin-top: 90px;

    
    }
 
}

/* top box  inside heading design */
   
@media screen and (max-width: 500px) {
    .box{
        display:none;
    }

    .backgroundimg{
        height: 100%;
        width: 100%;
    }
    
}



@media screen and (min-width: 600px) {
    .box{
        height: 70px;
        width: 70px;
       
        margin-top: 0px;
    }

    .buttonres1 {
        margin-left: 300px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 100px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 150px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 170px;
        margin-bottom: 20px;
    }


    .paraheader{
                    
        font-size: 18px;
        text-align: start;
        line-height: 30px;
        font-family: Segoe UI; 
        color:rgb(0, 0, 0);
        font-weight: 600;
        font-style: normal;
        margin-top: 15%;
     
    
    }

    .margintop1{
        margin-top: 100px;
    }
    
    
    .margintop2{
        margin-top: 50px;
    }
    
    
    .margintop3{
        margin-top: -50px;
    }
    
    
    .margintop4{
        margin-top: 10px;
    }

   
}





@media screen and (max-width: 600px) {
    
    .paraheader{
        text-align: center;
    }
    
    .headingsheader{
        text-align: center;
        margin-top:10% ;
  
        font-size: 42px;
 
        line-height: 40px;
        font-family: Segoe UI;
        color: rgb(134, 32, 18);
        font-weight: 500;
        font-style: normal;
        margin-top: 10%;
          
    }


    .headings{
      font-size: 28px;
    }
    
    .button{
      display: none;
    }
    .box{
        margin-left: 2%;
        height: 120%;
        
     }

     .margintop1{
        margin-top: 0px;
     }

     .headings3{
        font-size: 30px;
    }
    .headings4{
        font-size: 30px;
    }
}

    

@media screen and (min-width: 690px) {

    .box{
        width: 400px;
        height: 400px;
        margin-top: 0px;
        
    }
        
}

       

                       
@media screen and (max-width: 770px) {
    .paraheader{
        text-align: center;
        font-size: 16px;

    }
    
    .headingsheader{
        text-align: center;
        margin-top:10% ;
    }
    .button{
       margin-left: 80%;
    }
    .box{
       
        height: 100%;
        width: 100%;
        
    }

    .button{
        display: none;
    }
 }

 



@media screen and (min-width: 900px) {
    .box{
        height: 400px;
        width: 400px;
       
        margin-top: 0px;
    }

    .buttonres1 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 230px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres5 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres6 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres7 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres8      {
        margin-left: 230px;
        margin-bottom: 20px;
    }

    .paraheader{
                    
        font-size: 18px;
        text-align: start;
        line-height: 30px;
        font-family: Segoe UI; 
        color:rgb(0, 0, 0);
        font-weight: 400;
        font-style: normal;
        margin-top: 15%;
     
    
    }
}


       
@media screen and (min-width: 990px) {

    .box{
        width: 950px;
        height: 500px;
        margin-top: 50px;
       
    }

          
    .buttonres1 {
        margin-left: 300px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 230px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres5 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres6 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres7 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres8      {
        margin-left: 230px;
        margin-bottom: 20px;
    }
    

    .headingsheader{
        font-size: 10;
        text-align: start;
        line-height: 40px;
        font-family: Segoe UI;
        color: rgb(134, 32, 18);
        font-weight: 500;
        font-style: normal;
       margin-top: 30%;
    }
    
}



  
       
        
@media screen and (min-width: 1200px) {
            
    .buttonres1 {
        margin-left: 350px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 330px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 280px;
        margin-bottom: 20px;
    }

    .buttonres5 {
        margin-left: 300px;
        margin-bottom: 20px;
    }

    .buttonres6 {
        margin-left: 110px;
        margin-bottom: 20px;
    }

    .buttonres7 {
        margin-left: 230px;
        margin-bottom: 20px;
    }

    .buttonres8      {
        margin-left: 200px;
        margin-bottom: 20px;
    }
    

    .paraheader{
                    
        font-size: 18px;
        text-align: start;
        line-height: 30px;
        font-family: Segoe UI; 
        color:rgb(0, 0, 0);
        font-weight: 400;
        font-style: normal;
        margin-top: 17%;
     
    
    }

}


  


@media screen and (min-width: 1600px) {

    .buttonres1 {
        margin-left: 350px;
        margin-bottom: 20px;
    }

    .buttonres2 {
        margin-left: 250px;
        margin-bottom: 20px;
    }

    .buttonres3 {
        margin-left: 350px;
        margin-bottom: 20px;
    }

    .buttonres4 {
        margin-left: 260px;
        margin-bottom: 20px;
    }

}
