.heading1 {
  margin-top: 7%;
  font-family: "Inter";
  font-size: 29px;
  font-style: normal;
  line-height: 40px;
  font-weight: 700;
  width: 91%;
  text-align: center;
  /* margin-left: 4%; */
}

@media screen and (max-width: 1200px) {
  .heading1 {
    margin-top: 1%;
    font-family: "Inter";
    font-size: 27px;
    line-height: 40px;
    font-weight: bold;
    width: 73%;
    text-align: center;
    margin-left: 0%;
  }
}

@media screen and (max-width: 966px) {
  .heading1 {
    margin-top: 1%;
    font-family: "Inter";
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    width: 73%;
    text-align: center;
    margin-left: 0%;
  }

  .heading2 {
    color: #b60b0b;
    text-align: center;
    font-size: 24px !important;
    font-family: "Inter";
  }
}

@media screen and (max-width: 862px) {
  .heading1 {
    margin-top: 1%;
    font-family: "Inter";
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-left: 0%;
  }

  .heading2 {
    color: #b60b0b;
    text-align: center;
    font-size: 20px !important;
    font-family: "Inter";
  }

  .para1 {
    font-family: "Inter";
    font-size: 12px !important;
    width: 70%;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-weight: 700;
    line-height: 138%;
  }
}

@media screen and (min-width: 1806px) {
  .heading1 {
    margin-top: 7%;
    font-family: "Inter";
    font-size: 29px;
    line-height: 40px;
    font-weight: bold;
    width: 70%;
    text-align: center;
    margin-left: 9%;
  }
}

@media screen and (min-width: 1533px) and (max-width: 1805px) {
  .heading1 {
    margin-top: 10%;
    font-family: "Inter";
    font-size: 27px;
    line-height: 40px;
    font-weight: bold;
    /* width: 90%; */
    text-align: center;
    /* margin-left: 3%; */
    margin-bottom: 6%;
  }
}

.heading2 {
  color: #b60b0b;
  text-align: center;
  font-size: 29px;
  font-family: "Inter";
}

.para1 {
  font-family: "Inter";
  font-size: 20px;
  margin-top: 10px;
  width: 85%;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-weight: 700;
  line-height: 138%;
}

@media screen and (max-width: 1200px) {
  .para1 {
    font-family: "Inter";
    font-size: 15px;
    width: 80%;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: auto;
    font-weight: 700;
    line-height: 138%;
  }
}
.imgpic {
  margin: auto;
  text-align: center;
  padding: 0px;
}

@media screen and (max-width: 1200px) {
  .imgpic {
    margin: auto;
    text-align: center;
    padding: 0px;
    width: 55%;
  }
}
