.columns {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 97px;
}

.columnleft {
    width: 49%;
}

.columnright {
    width: 49%;
}

.heading1 {
    margin-top: 7%;
    font-family: 'Inter';
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
    width: 70%;
    text-align: center;
    margin-left: 0%;
}

@media screen and (max-width:1071px) {
    .heading1 {
        margin-top: 1%;
        font-family: 'Inter';
        font-size: 26px;
        line-height: 40px;
        font-weight: bold;
        width: 70%;
        text-align: center;
        margin-left: 0%;
    }
    
}

.heading2 {
    color: #b60b0b;
    text-align: center;
    font-size: 35px;
    font-family: 'Inter';
}


.para1 {
    font-family: 'Inter';
    font-size: 20px;
    margin-top: 10px;
    width: 70%;
    color: rgba(0, 0, 0, 0.8);;
    text-align: center;
    font-weight: 700;
    line-height: 138%;
}

@media screen and (max-width:1071px) {
    .para1 {
        font-family: 'Inter';
        font-size: 15px;
        width: 70%;
        color: rgba(0, 0, 0, 0.8);;
        text-align: center;
        font-weight: 700;
        line-height: 138%;
    }

}
.imgpic {
    margin: auto;
    text-align: center;
    padding: 0px;
}






