/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
  align-items: stretch;
  width: 100%;
  margin: auto 0;

}

@media (min-width: 576px) and (max-width: 767.98px) {
  .grid {
    width: 540px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .grid {
    width: 720px;
  }
}

@media (min-width: 992px)
{
  .grid {
    width: 960px;
  }
}

@media (min-width: 1200px)
{
  .grid {
    width: 1140px;
  }
} */

.mycard {
  position: relative;
  height: 52vh;
  width: 85%;
  padding: 50px 20px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  border: 4px solid #fff;
  box-shadow: 0px 4px 4px 9px rgba(0, 0, 0, 0.25);
  animation: animate 5s linear infinite;
  overflow: hidden;
}

@media only screen and (max-width: 479px) {
  .mycard {
    height: auto;
    min-height: 300px;
    padding: 30px 10px;
    width: 90%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
  .mycard {
    height: auto;
    width: 80%;
  }
}


@media only screen and (min-width: 601px) and (max-width: 762px) {
  .mycard {
    height: auto;
    width: 80%;
  }


}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .mycard {
    height: auto;
    width: 80%;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1023px) {
  .mycard {
    height: 53vh;
    width: 80%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .mycard {
    height: 72vh;
  }
}

/* @media only screen and (min-width: 1440px) {
  .mycard {
    height: 63vh;
  }
} */

.stars {
  text-align: start;
  margin-bottom: 8px;
  font-size: 25px;
}

.name {
  text-align: start;
  margin-bottom: 8px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}

.position {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  color: #535050;
  text-align: start;
}

.para {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 32px;
  color: #474545;
  text-align: start;
}

.sizes {
  width: 62%;
  display: inline-block;
  margin-top: 3%;
}

.heading {
  font-family: "Leelawadee UI";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 56px;
  text-align: center;
}

.heading2 {
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 54px;
  text-align: center;
}

.line{
  background: #90311B;
  color: #90311B;
  border: 0;
  border-bottom: 9px solid #90311B;
  text-align: center;
  position: relative;
  bottom: 18px;
  opacity: 100%;


}

.linepar{
  margin: auto;
  text-align: center;
  width: 9%;
}