
/* style for the hero banner */

.headings {


   font-size: 66px;
   text-align: center;
   font-family: Segoe UI;
   color: rgb(253, 251, 251);
   margin-top: 50px;
   font-weight: 600;
   font-style: normal;
}


/* style for the hero banner bottom content */

.para {
   font-family: Segoe UI;
   margin-top: 150px;
   text-align: center;
   font-size: 18px;
   line-height: 50px;
   color: rgb(255, 255, 255);
   font-weight: 500;

}

.subhead {
   font-family: Segoe UI;
   margin-top: 50px;
   margin-bottom: 60px;
   
   text-align: center;
   font-size: 28px;
   line-height: 40px;
   color: #000000;
}

.subhead2 {
   font-family: Segoe UI;
   font-weight: normal;
   margin-top: 100px;
   font-size: 18px;
   text-align: start;
   line-height: 25px;
   color: #2d2d2d;
}

.subhead5 {
   font-family: Segoe UI;
   font-weight: normal;
   margin-top: 100px;
   font-size: 18px;
   text-align: start;
   line-height: 25px;
   color: #2d2d2d;
}


/* style for the odd container subject */


.subhead3 {
   font-family: Segoe UI;
   font-weight: normal;
   margin-top: 70px;
   font-size: 18px;
   width: 70%;
   text-align: start;
   margin-left: 70px;
   line-height: 30px;
   color: #2d2d2d;
}




/* media queries section has been initiated from here */



/* media queries for the mobile phone view */

@media screen and (max-width: 991px) {

  

   .subhead3 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 0px;
      font-size: 17px;
      width: 100%;
      text-align: start;
      margin-left: 36px;
      line-height: 25px;
      color: #2d2d2d;
   }
   
   

   .para {
       font-family: Segoe UI;
       text-align: center;
      
       margin-top: 81px;
       font-size: 14px;
       line-height: 20px;
       color: rgb(255, 255, 255);
       width: 100%;
       text-decoration: none solid rgb(0, 0, 0);
   }


   .subhead2 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 0px;
      font-size: 17px;
      text-align: start;
      margin-left: 27px;
      width: 334px;
      line-height: 25px;
      color: #2d2d2d;
   }


   .subhead5 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 0px;
      font-size: 17px;
      text-align: start;
      margin-left: 27px;
      width: 334px;
      line-height: 25px;
      color: #2d2d2d;
   }
   
   

   .subhead {
      font-family: Segoe UI;
      margin-top: 26px;
      margin-bottom: 52px;
      margin-left: 0px;
      margin-right: 100px;
      text-align: center;
      width: 100%;
      font-size: 28px;
      line-height: 40px;
      color: #000000;
   }


}



/* media queries for ipad views */

@media screen and (max-width: 768px) {

  

   .subhead3 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 0px;
      font-size: 17px;
      width: 340px;
      text-align: start;
      margin-left: 36px;
      line-height: 25px;
      color: #2d2d2d;
   }
   
   

   .para {
       font-family: Segoe UI;
       text-align: center;
       margin-left: 201px;
       margin-top: 68px;
       font-size: 14px;
       line-height: 19px;
       color: rgb(255, 255, 255);
       width: 350px;
       text-decoration: none solid rgb(0, 0, 0);
   }


   .subhead2 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 31px;
      font-size: 17px;
      text-align: start;
      margin-left: 19px;
      width: 334px;
      line-height: 25px;
      color: #2d2d2d;
   }


   .subhead5 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 0px;
      font-size: 17px;
      text-align: start;
      margin-left: 19px;
      width: 334px;
      line-height: 25px;
      color: #2d2d2d;
   }
   

   .subhead {
      font-family: Segoe UI;
      margin-top: 26px;
      margin-bottom: 52px;
      margin-left: 55px;
      margin-right: 0px;
      text-align: start;
      width: 371px;
      font-size: 28px;
      line-height: 40px;
      color: #000000;
   }

  


}


/* media query for the smartphones */

@media screen and (max-width: 576px) {



   .subhead3 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 30px;
      font-size: 17px;
      width: 80%;
      text-align: start;
      margin-left: 36px;
      line-height: 25px;
      color: #2d2d2d;
   }
   
   

   .para {
       font-family: Segoe UI;
       text-align: center;
       margin-left: 0px;
       margin-top: 68px;
       font-size: 14px;
       line-height: 19px;
       color: rgb(255, 255, 255);
       width: 98%;
       text-decoration: none solid rgb(0, 0, 0);
   }


   .subhead2 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 31px;
      font-size: 17px;
      text-align: start;
      margin-left: 19px;
      width: 89%;
      line-height: 25px;
      color: #2d2d2d;
   }


   .subhead5 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 0px;
      font-size: 17px;
      text-align: start;
      margin-left: 19px;
      width: 80%;
      line-height: 25px;
      color: #2d2d2d;
   }
   

   .subhead {
      font-family: Segoe UI;
      margin-top: 26px;
      margin-bottom: 52px;
      
      text-align: start;
      width: 55%;
      font-size: 28px;
      line-height: 40px;
      color: #000000;
   }

   .headings {


      font-size: 36px;
      text-align: center;
   
      font-family: Segoe UI;
      color: rgb(253, 251, 251);
      margin-top: 50px;
      font-weight: 600;
      font-style: normal;
   }


}


/* media query for the foldable smartphones */

@media screen and (min-width: 280px) and (max-width: 371) {



   .subhead3 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 0px;
      font-size: 14px;
      width: 252px;
      text-align: start;
      margin-left: 15px;
      line-height: 18px;
      color: #2d2d2d;
   }
   
   

   .para {
       font-family: Segoe UI;
       text-align: center;
       margin-left: 0px;
       margin-top: 68px;
       font-size: 14px;
       line-height: 19px;
       color: rgb(255, 255, 255);
       width: 262px;
       text-decoration: none solid rgb(0, 0, 0);
   }


   .subhead2 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: -38px;
      font-size: 14px;
      text-align: start;
      margin-left: 3px;
      width: 260px;
      line-height: 16px;
      color: #2d2d2d;
   }


   .subhead5 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: -36px;
      font-size: 14px;
      text-align: start;
      margin-left: 12px;
      width: 252px;
      line-height: 18px;
      color: #2d2d2d;
   }
   

   .subhead {
      font-family: Segoe UI;
      margin-top: 26px;
      margin-bottom: 52px;
      margin-left: 19px;
      margin-right: 0px;
      text-align: start;
      width: 263px;
      font-size: 21px;
      line-height: 40px;
      color: #000000;
   }

   .headings {


      font-size: 36px;
      text-align: center;
   
      font-family: Segoe UI;
      color: rgb(253, 251, 251);
      margin-top: 50px;
      font-weight: 600;
      font-style: normal;
   }


}




@media screen and (min-width: 994px) and (max-width: 1197px) {

  

   .subhead3 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 0px;
      font-size: 17px;
      width: 80%;
      text-align: start;
      margin-left: 36px;
      line-height: 25px;
      color: #2d2d2d;
   }
   
   

   .para {
       font-family: Segoe UI;
       text-align: center;
      
       margin-top: 81px;
       font-size: 14px;
       line-height: 20px;
       color: rgb(255, 255, 255);
       width: 100%;
       text-decoration: none solid rgb(0, 0, 0);
   }


   .subhead2 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 0px;
      font-size: 17px;
      text-align: start;
      margin-left: 27px;
      width: 334px;
      line-height: 25px;
      color: #2d2d2d;
   }


   .subhead5 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 0px;
      font-size: 17px;
      text-align: start;
      margin-left: 27px;
      width: 334px;
      line-height: 25px;
      color: #2d2d2d;
   }
   
   

   .subhead {
      font-family: Segoe UI;
      margin-top: 26px;
      margin-bottom: 52px;
      margin-left: 0px;
      margin-right: 100px;
      text-align: center;
      width: 100%;
      font-size: 28px;
      line-height: 40px;
      color: #000000;
   }


}



@media screen and (min-width: 577px) and (max-width: 766px) {



   .subhead3 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 0px;
      font-size: 14px;
      width: 340px;
      text-align: start;
      margin-left: 36px;
      line-height: 20px;
      color: #2d2d2d;
   }
   
   

   .para {
       font-family: Segoe UI;
       text-align: center;
       margin-left: 0px;
       margin-top: 68px;
       font-size: 14px;
       line-height: 19px;
       color: rgb(255, 255, 255);
       width: 98%;
       text-decoration: none solid rgb(0, 0, 0);
   }


   .subhead2 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 31px;
      font-size: 14px;
      text-align: start;
      margin-left: 19px;
      width: 89%;
      line-height: 20px;
      color: #2d2d2d;
   }


   .subhead5 {
      font-family: Segoe UI;
      font-weight: normal;
      margin-top: 0px;
      font-size: 14px;
      text-align: start;
      margin-left: 30px;
      width: 80%;
      line-height: 20px;
      color: #2d2d2d;
   }
   

   .subhead {
      font-family: Segoe UI;
      margin-top: 26px;
      margin-bottom: 52px;
      
      text-align: start;
      width: 65%;
      font-size: 28px;
      line-height: 40px;
      color: #000000;
   }

   .headings {


      font-size: 36px;
      text-align: center;
   
      font-family: Segoe UI;
      color: rgb(253, 251, 251);
      margin-top: 50px;
      font-weight: 600;
      font-style: normal;
   }


}




/* end of using the media queries in style */